{
  "swagger": "2.0",
  "info": {
    "description": "국토교통부에서 제공하는 마이홈포털 공공임대주택 모집공고 조회 서비스입니다. 오퍼레이션 파라미터를 기준으로 공공임대주택 모집공고 조회하는 서비스 (유의)조회하는 시점에 따라 ‘응답 메시지’가 달라질 수 있습니다. API는 활용신청을 통해 받은 인증키를 사용하여 접속할 수 있습니다. 데이터는 시도 등의 지역 정보를 포함하고 있으며, 공공임대주택 정보를 제공하고 있습니다. 공공임대주택으로는 국민임대, 영구임대, 행복주택 등의 유형을 구분하여 제공중입니다. 자세한 파라미터는 참고문서 파일을 참고해주십시오.",
    "version": "1.0.0",
    "title": "국토교통부_마이홈포털 공공주택 모집공고 조회 서비스"
  },
  "host": "apis.data.go.kr/1613000/HWSPR02",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/rsdtRcritNtcList": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "$ref": "#/definitions/rsdtRcritNtcList_header"
                },
                "body": {
                  "$ref": "#/definitions/rsdtRcritNtcList_body"
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "999": {
            "description": "기타 에러"
          },
          "02": {
            "description": "데이터베이스 에러"
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "00": {
            "description": "정상 호출"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "공공임대주택 모집공고 조회",
        "description": "광역시도, 시군구, 공급유형, 주택유형, 전세형 여부, 월임대료 범위, 모집공고월을 기준으로 공공임대주택 모집공고 정보 조회하는 서비스",
        "operationId": "rsdtRcritNtcList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "brtcCode",
          "description": "광역시도 코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "signguCode",
          "description": "시군구 코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "조회될 목록의 페이지당 데이터 개수 (기본값:10)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "조회될 페이지의 번호 (기본값:1)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "suplyTy",
          "description": "공급유형",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "houseTy",
          "description": "주택유형",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lfstsTyAt",
          "description": "전세형 모집 여부",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bassMtRntchrgSe",
          "description": "월임대료 구분",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "yearMtBegin",
          "description": "모집공고월시작(YYYYMM)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "yearMtEnd",
          "description": "모집공고월종료(YYYYMM)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/ltRsdtRcritNtcList": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "$ref": "#/definitions/ltRsdtRcritNtcList_header"
                },
                "body": {
                  "$ref": "#/definitions/ltRsdtRcritNtcList_body"
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "999": {
            "description": "기타 에러"
          },
          "02": {
            "description": "데이터베이스 에러"
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "00": {
            "description": "정상 호출"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "공공분양주택 모집공고 조회",
        "description": "광역시도, 시군구, 주택유형, 모집공고월을 기준으로 공공분양주택 모집공고 정보를 조회하는 서비스",
        "operationId": "ltRsdtRcritNtcList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "brtcCode",
          "description": "광역시도 코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "signguCode",
          "description": "시군구 코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "조회될 목록의 페이지당 데이터 개수 (기본값:10)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "조회될 페이지의 번호 (기본값:1)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "houseTy",
          "description": "주택유형",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "yearMtBegin",
          "description": "모집공고월시작(YYYYMM)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "yearMtEnd",
          "description": "모집공고월종료(YYYYMM)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "rsdtRcritNtcList_header": {
      "type": "object",
      "properties": {
        "resultCode": {
          "type": "string",
          "description": "결과코드"
        },
        "resultMsg": {
          "type": "string",
          "description": "결과메세지"
        }
      }
    },
    "rsdtRcritNtcList_item": {
      "type": "object",
      "properties": {
        "suplyHoCo": {
          "type": "string",
          "description": "공급_호_수 (전세임대 해당)"
        },
        "pblancId": {
          "type": "string",
          "description": "공고ID"
        },
        "houseSn": {
          "type": "number",
          "description": "주택 일련번호"
        },
        "sttusNm": {
          "type": "string",
          "description": "상태_명"
        },
        "pblancNm": {
          "type": "string",
          "description": "공고명"
        },
        "suplyInsttNm": {
          "type": "string",
          "description": "공급_기관명"
        },
        "houseTyNm": {
          "type": "string",
          "description": "주택유형_명"
        },
        "suplyTyNm": {
          "type": "string",
          "description": "공급유형명"
        },
        "beforePblancId": {
          "type": "string",
          "description": "이전_공고_ID"
        },
        "rcritPblancDe": {
          "type": "string",
          "description": "모집_공고_일자"
        },
        "przwnerPresnatnDe": {
          "type": "string",
          "description": "당첨자_발표_일자"
        },
        "refrnc": {
          "type": "string",
          "description": "문의처"
        },
        "url": {
          "type": "string",
          "description": "모집공고 URL"
        },
        "pcUrl": {
          "type": "string",
          "description": "마이홈포털 PC URL"
        },
        "mobileUrl": {
          "type": "string",
          "description": "마이홈포털 Mobile URL"
        },
        "hsmpNm": {
          "type": "string",
          "description": "단지_명"
        },
        "brtcNm": {
          "type": "string",
          "description": "광역시도명"
        },
        "signguNm": {
          "type": "string",
          "description": "시군구명"
        },
        "fullAdres": {
          "type": "string",
          "description": "전체주소"
        },
        "rnCodeNm": {
          "type": "string",
          "description": "도로명 (주소가 도로명주소일 때 표시)"
        },
        "refrnLegaldongNm": {
          "type": "string",
          "description": "참조_법정동명 (주소가 지번주소일 때 표시)"
        },
        "pnu": {
          "type": "string",
          "description": "PNU"
        },
        "heatMthdNm": {
          "type": "string",
          "description": "난방_방식명"
        },
        "totHshldCo": {
          "type": "string",
          "description": "총_세대_수"
        },
        "sumSuplyCo": {
          "type": "number",
          "description": "공급호수"
        },
        "rentGtn": {
          "type": "number",
          "description": "최소_임대_보증금"
        },
        "enty": {
          "type": "number",
          "description": "최소_계약금"
        },
        "prtpay": {
          "type": "number",
          "description": "최소_중도금"
        },
        "surlus": {
          "type": "number",
          "description": "최소_잔금"
        },
        "mtRntchrg": {
          "type": "number",
          "description": "최소_월_임대료"
        },
        "beginDe": {
          "type": "string",
          "description": "모집 시작 일자"
        },
        "endDe": {
          "type": "string",
          "description": "모집 종료 일자"
        }
      }
    },
    "rsdtRcritNtcList_body": {
      "type": "object",
      "properties": {
        "numOfRows": {
          "type": "string",
          "description": "조회될 목록의 페이지당 데이터 개수 (기본값:10)"
        },
        "pageNo": {
          "type": "string",
          "description": "조회될 페이지의 번호 (기본값:1)"
        },
        "item": {
          "$ref": "#/definitions/rsdtRcritNtcList_item"
        },
        "totalCount": {
          "type": "string",
          "description": "전체 결과수"
        }
      }
    },
    "ltRsdtRcritNtcList_header": {
      "type": "object",
      "properties": {
        "resultCode": {
          "type": "string",
          "description": "결과코드"
        },
        "resultMsg": {
          "type": "string",
          "description": "결과메세지"
        }
      }
    },
    "ltRsdtRcritNtcList_body": {
      "type": "object",
      "properties": {
        "totalCount": {
          "type": "string",
          "description": "전체 결과수"
        },
        "numOfRows": {
          "type": "string",
          "description": "조회될 목록의 페이지당 데이터 개수 (기본값:10)"
        },
        "pageNo": {
          "type": "string",
          "description": "조회될 페이지의 번호 (기본값:1)"
        },
        "item": {
          "$ref": "#/definitions/ltRsdtRcritNtcList_item"
        }
      }
    },
    "ltRsdtRcritNtcList_item": {
      "type": "object",
      "properties": {
        "pblancId": {
          "type": "string",
          "description": "공고ID"
        },
        "houseSn": {
          "type": "number",
          "description": "주택 일련번호"
        },
        "sttusNm": {
          "type": "string",
          "description": "상태_명"
        },
        "pblancNm": {
          "type": "string",
          "description": "공고명"
        },
        "suplyInsttNm": {
          "type": "string",
          "description": "공급_기관명"
        },
        "houseTyNm": {
          "type": "string",
          "description": "주택유형_명"
        },
        "beforePblancId": {
          "type": "string",
          "description": "이전_공고_ID"
        },
        "rcritPblancDe": {
          "type": "string",
          "description": "모집_공고_일자"
        },
        "przwnerPresnatnDe": {
          "type": "string",
          "description": "당첨자_발표_일자"
        },
        "refrnc": {
          "type": "string",
          "description": "문의처"
        },
        "url": {
          "type": "string",
          "description": "모집공고 URL"
        },
        "pcUrl": {
          "type": "string",
          "description": "마이홈포털 PC URL"
        },
        "mobileUrl": {
          "type": "string",
          "description": "마이홈포털 Mobile URL"
        },
        "hsmpNm": {
          "type": "string",
          "description": "단지_명"
        },
        "brtcNm": {
          "type": "string",
          "description": "광역시도명"
        },
        "signguNm": {
          "type": "string",
          "description": "시군구명"
        },
        "fullAdres": {
          "type": "string",
          "description": "전체주소"
        },
        "rnCodeNm": {
          "type": "string",
          "description": "도로명 (주소가 도로명주소일 때 표시)"
        },
        "refrnLegaldongNm": {
          "type": "string",
          "description": "참조_법정동명 (주소가 지번주소일 때 표시)"
        },
        "pnu": {
          "type": "string",
          "description": "PNU"
        },
        "heatMthdNm": {
          "type": "string",
          "description": "난방_방식명"
        },
        "sumSuplyCo": {
          "type": "number",
          "description": "공급_호수"
        },
        "enty": {
          "type": "number",
          "description": "최소_계약금"
        },
        "prtpay": {
          "type": "number",
          "description": "최소_중도금"
        },
        "surlus": {
          "type": "number",
          "description": "최소_잔금"
        },
        "beginDe": {
          "type": "string",
          "description": "모집 시작 일자"
        },
        "endDe": {
          "type": "string",
          "description": "모집 종료 일자"
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://data.myhome.go.kr/ltRsdtRcritNtcList",
      "oprtinNm": "공공분양주택 모집공고 조회",
      "oprtinDc": "광역시도, 시군구, 주택유형, 모집공고월을 기준으로 공공분양주택 모집공고 정보를 조회하는 서비스",
      "gwSvcNm": "ltRsdtRcritNtcList",
      "operationId": "ltRsdtRcritNtcList",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrBassValue": "-",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "brtcCode",
          "paramtrBassValue": "43",
          "paramtrDc": "광역시도 코드",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "signguCode",
          "paramtrBassValue": "750",
          "paramtrDc": "시군구 코드",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "numOfRows",
          "paramtrBassValue": "10",
          "paramtrDc": "조회될 목록의 페이지당 데이터 개수 (기본값:10)",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "pageNo",
          "paramtrBassValue": "1",
          "paramtrDc": "조회될 페이지의 번호 (기본값:1)",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "houseTy",
          "paramtrBassValue": "11",
          "paramtrDc": "주택유형",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "yearMtBegin",
          "paramtrBassValue": "",
          "paramtrDc": "모집공고월시작(YYYYMM)",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "yearMtEnd",
          "paramtrBassValue": "",
          "paramtrDc": "모집공고월종료(YYYYMM)",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "paramtrDefNm": "#/definitions/ltRsdtRcritNtcList_header",
          "subDefNm": "ltRsdtRcritNtcList_header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "paramtrDefNm": "#/definitions/ltRsdtRcritNtcList_body",
          "subDefNm": "ltRsdtRcritNtcList_body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true
        }
      ]
    }
  ]
}