{
  "swagger": "2.0",
  "info": {
    "description": "국가안전정보 통합공개시스템은 재난관리책임기관에서 공개하는 시설 등에 대한 각종 안전점검․진단 등의 결과를 한곳에 모아 통합적으로 공개하는 시스템입니다. 시스템 내 보유중인 시설물 기본정보 및 안전정보를 openAPI로 제공합니다. 주요 안전점검정보는 전기, 승강기, 시설물안전, 식품판매시설, 어린이집,  어린이놀이시설, 병원시설, 호텔, 휴양림, 학교  등이 있으며 데이터 제공기관은 행정안전부, 문화체육부, 환경부, 농림축산식품부, 보건복지부, 해양수산부, 국토교통부, 중소벤처기업부 등입니다",
    "version": "1.0.0",
    "title": "행정안전부_안전정보 통합공개 조회 서비스"
  },
  "host": "apis.data.go.kr/1741000/FcltsSafetyInfoService2025",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getRcrfctSafetyInfoSearch_4": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "instt_nm": {
                              "type": "string",
                              "description": "기관명",
                              "properties": {}
                            },
                            "faciroadaddr": {
                              "type": "string",
                              "description": "도로명주소",
                              "properties": {}
                            },
                            "homepageurl": {
                              "type": "string",
                              "description": "홈페이지주소",
                              "properties": {}
                            },
                            "iemtypecd": {
                              "type": "string",
                              "description": "항목유형코드",
                              "properties": {}
                            },
                            "iemsj": {
                              "type": "string",
                              "description": "항목제목",
                              "properties": {}
                            },
                            "resulsede": {
                              "type": "string",
                              "description": "점검결과",
                              "properties": {}
                            },
                            "chckde": {
                              "type": "string",
                              "description": "점검일자",
                              "properties": {}
                            },
                            "category": {
                              "type": "string",
                              "description": "유형",
                              "properties": {}
                            },
                            "chck_start_ymd": {
                              "type": "string",
                              "description": "점검시작일",
                              "properties": {}
                            },
                            "chck_end_ymd": {
                              "type": "string",
                              "description": "점검종료일",
                              "properties": {}
                            },
                            "chck_dtls_type": {
                              "type": "string",
                              "description": "점검종류",
                              "properties": {}
                            },
                            "chck_inst_nm": {
                              "type": "string",
                              "description": "점검대상명",
                              "properties": {}
                            },
                            "chck_rslt_safe_grad": {
                              "type": "string",
                              "description": "점검결과",
                              "properties": {}
                            },
                            "chck_compt_ymd": {
                              "type": "string",
                              "description": "완료예정일자",
                              "properties": {}
                            },
                            "chck_fllw_managt": {
                              "type": "string",
                              "description": "지적사항",
                              "properties": {}
                            },
                            "chck_rslt_cn": {
                              "type": "string",
                              "description": "조치결과",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "총 개수",
                      "properties": {}
                    },
                    "numOfRow": {
                      "type": "string",
                      "description": "목록건수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "휴양림 안전정보 조회",
        "description": "시설물 key를 요청받아 휴양림 안전점검 관련한 점검일자, 점검종류, 점검결과 등 상세 조회 기능",
        "operationId": "getRcrfctSafetyInfoSearch_4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "응답결과 데이터타입(xml, json)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "fclts_cd",
          "description": "시설물 key",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getHotelSafetyInfoSearch_4": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "hotelnmkorean": {
                              "type": "string",
                              "description": "한글명",
                              "properties": {}
                            },
                            "hotelnmeng": {
                              "type": "string",
                              "description": "영문명",
                              "properties": {}
                            },
                            "hotelrumco": {
                              "type": "string",
                              "description": "객실수",
                              "properties": {}
                            },
                            "decsngrad": {
                              "type": "string",
                              "description": "호텔등급",
                              "properties": {}
                            },
                            "hotelinduty": {
                              "type": "string",
                              "description": "호텔업종",
                              "properties": {}
                            },
                            "trindsryceregrtpblictnplc": {
                              "type": "string",
                              "description": "관광사업등록증 발행처",
                              "properties": {}
                            },
                            "allrdnmadr": {
                              "type": "string",
                              "description": "도로명주소",
                              "properties": {}
                            },
                            "telno": {
                              "type": "string",
                              "description": "전화번호",
                              "properties": {}
                            },
                            "hotelhmpgadres": {
                              "type": "string",
                              "description": "홈페이지주소",
                              "properties": {}
                            },
                            "gradvalidpdbeginde": {
                              "type": "string",
                              "description": "등급시작일자",
                              "properties": {}
                            },
                            "gradvalidpdendde": {
                              "type": "string",
                              "description": "등급종료일자",
                              "properties": {}
                            },
                            "category": {
                              "type": "string",
                              "description": "유형",
                              "properties": {}
                            },
                            "chck_start_ymd": {
                              "type": "string",
                              "description": "점검시작일",
                              "properties": {}
                            },
                            "chck_end_ymd": {
                              "type": "string",
                              "description": "점검종료일",
                              "properties": {}
                            },
                            "chck_dtls_type": {
                              "type": "string",
                              "description": "점검종류",
                              "properties": {}
                            },
                            "chck_inst_nm": {
                              "type": "string",
                              "description": "점검대상명",
                              "properties": {}
                            },
                            "chck_rslt_safe_grad": {
                              "type": "string",
                              "description": "점검결과",
                              "properties": {}
                            },
                            "chck_compt_ymd": {
                              "type": "string",
                              "description": "완료예정일자",
                              "properties": {}
                            },
                            "chck_fllw_managt": {
                              "type": "string",
                              "description": "지적사항",
                              "properties": {}
                            },
                            "chck_rslt_cn": {
                              "type": "string",
                              "description": "조치결과",
                              "properties": {}
                            },
                            "lnmadres": {
                              "type": "string",
                              "description": "주소",
                              "properties": {}
                            },
                            "rdnmadreng": {
                              "type": "string",
                              "description": "영문주소",
                              "properties": {}
                            },
                            "zip": {
                              "type": "string",
                              "description": "우편번호",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "총 개수",
                      "properties": {}
                    },
                    "numOfRow": {
                      "type": "string",
                      "description": "목록건수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "호텔 안전정보 조회",
        "description": "시설물 key를 요청받아 호텔 안전점검 관련한 점검일자, 점검종류, 점검결과 등 상세 조회 기능",
        "operationId": "getHotelSafetyInfoSearch_4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "응답결과 데이터타입(xml, json)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "fclts_cd",
          "description": "시설물 key",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getSsrftSafetyInfoSearch_4": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "fcltynm": {
                              "type": "string",
                              "description": "시설명",
                              "properties": {}
                            },
                            "alladr": {
                              "type": "string",
                              "description": "전체주소",
                              "properties": {}
                            },
                            "chckyear": {
                              "type": "string",
                              "description": "점검년도",
                              "properties": {}
                            },
                            "apvpermnm": {
                              "type": "string",
                              "description": "인허가번호",
                              "properties": {}
                            },
                            "chck": {
                              "type": "string",
                              "description": "검사시기",
                              "properties": {}
                            },
                            "itemnm": {
                              "type": "string",
                              "description": "항목명",
                              "properties": {}
                            },
                            "chckresultnm": {
                              "type": "string",
                              "description": "점검결과명",
                              "properties": {}
                            },
                            "category": {
                              "type": "string",
                              "description": "유형",
                              "properties": {}
                            },
                            "chck_start_ymd": {
                              "type": "string",
                              "description": "점검시작일",
                              "properties": {}
                            },
                            "chck_end_ymd": {
                              "type": "string",
                              "description": "점검종료일",
                              "properties": {}
                            },
                            "chck_dtls_type": {
                              "type": "string",
                              "description": "점검종류",
                              "properties": {}
                            },
                            "chck_inst_nm": {
                              "type": "string",
                              "description": "점검대상명",
                              "properties": {}
                            },
                            "chck_rslt_safe_grad": {
                              "type": "string",
                              "description": "점검결과",
                              "properties": {}
                            },
                            "chck_compt_ymd": {
                              "type": "string",
                              "description": "완료예정일자",
                              "properties": {}
                            },
                            "chck_fllw_managt": {
                              "type": "string",
                              "description": "지적사항",
                              "properties": {}
                            },
                            "chck_rslt_cn": {
                              "type": "string",
                              "description": "조치결과",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "총 개수",
                      "properties": {}
                    },
                    "numOfRow": {
                      "type": "string",
                      "description": "목록건수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "아동센터·돌봄센터 안전정보 조회",
        "description": "시설물 key를 요청받아 아동센터·돌봄센터 안전점검 관련한 점검일자, 점검종류, 점검결과 등 상세 조회 기능",
        "operationId": "getSsrftSafetyInfoSearch_4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "응답결과 데이터타입(xml, json)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "fclts_cd",
          "description": "시설물 key",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getQuakefcltySafetyInfoSearch_4": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "sfcrtDate": {
                              "type": "string",
                              "description": "인증일자",
                              "properties": {}
                            },
                            "category": {
                              "type": "string",
                              "description": "유형",
                              "properties": {}
                            },
                            "chck_compt_ymd": {
                              "type": "string",
                              "description": "완료예정일자",
                              "properties": {}
                            },
                            "chck_dign_gbn": {
                              "type": "string",
                              "description": "점검진단구분",
                              "properties": {}
                            },
                            "chck_dtls_type": {
                              "type": "string",
                              "description": "점검종류",
                              "properties": {}
                            },
                            "chck_end_ymd": {
                              "type": "string",
                              "description": "점검종료일",
                              "properties": {}
                            },
                            "chck_fllw_managt": {
                              "type": "string",
                              "description": "지적사항",
                              "properties": {}
                            },
                            "chck_inst_nm": {
                              "type": "string",
                              "description": "점검대상명",
                              "properties": {}
                            },
                            "chck_rslt_cn": {
                              "type": "string",
                              "description": "조치결과",
                              "properties": {}
                            },
                            "chck_rslt_safe_grad": {
                              "type": "string",
                              "description": "점검결과",
                              "properties": {}
                            },
                            "chck_start_ymd": {
                              "type": "string",
                              "description": "점검시작일",
                              "properties": {}
                            },
                            "fclts_adres": {
                              "type": "string",
                              "description": "시설물 위치",
                              "properties": {}
                            },
                            "fclts_nm": {
                              "type": "string",
                              "description": "시설물 명",
                              "properties": {}
                            },
                            "rserthqkGrad": {
                              "type": "string",
                              "description": "지진안전등급",
                              "properties": {}
                            },
                            "rserthqkStdr": {
                              "type": "string",
                              "description": "내진등급 기준",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "총 개수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "목록 건수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "지진안전시설물 인증정보 조회",
        "description": "시설물 key를 요청받아 지진안전시설물 안전점검 관련한 점검일자, 점검종류, 점검결과 등 상세 조회 기능",
        "operationId": "getQuakefcltySafetyInfoSearch_4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "응답결과 데이터 타입(xml, json)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "fclts_cd",
          "description": "시설물 key",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getTrditMrktSafetyInfoSearch_4": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "category": {
                              "type": "string",
                              "description": "유형",
                              "properties": {}
                            },
                            "chck_start_ymd": {
                              "type": "string",
                              "description": "점검시작일",
                              "properties": {}
                            },
                            "chck_end_ymd": {
                              "type": "string",
                              "description": "점검종료일",
                              "properties": {}
                            },
                            "chck_dtls_type": {
                              "type": "string",
                              "description": "점검종류",
                              "properties": {}
                            },
                            "chck_inst_nm": {
                              "type": "string",
                              "description": "점검대상명",
                              "properties": {}
                            },
                            "chck_rslt_safe_grad": {
                              "type": "string",
                              "description": "점검결과",
                              "properties": {}
                            },
                            "chck_compt_ymd": {
                              "type": "string",
                              "description": "완료예정일자",
                              "properties": {}
                            },
                            "chck_fllw_managt": {
                              "type": "string",
                              "description": "지적사항",
                              "properties": {}
                            },
                            "chck_rslt_cn": {
                              "type": "string",
                              "description": "조치결과",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "총 개수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "목록 건수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "전통시장 안전정보 조회",
        "description": "시설물 key를 요청받아 전통시장 안전점검 관련한 점검일자, 점검종류, 점검결과 등 상세 조회 기능",
        "operationId": "getTrditMrktSafetyInfoSearch_4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "fclts_cd",
          "description": "시설물 key",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "응답결과 데이터 타입(xml, json)",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getHlhsnSafetyInfoSearch_4": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "category": {
                              "type": "string",
                              "description": "유형",
                              "properties": {}
                            },
                            "chck_start_ymd": {
                              "type": "string",
                              "description": "점검시작일",
                              "properties": {}
                            },
                            "chck_end_ymd": {
                              "type": "string",
                              "description": "점검종료일",
                              "properties": {}
                            },
                            "chck_dtls_type": {
                              "type": "string",
                              "description": "점검종류",
                              "properties": {}
                            },
                            "chck_inst_nm": {
                              "type": "string",
                              "description": "점검대상명",
                              "properties": {}
                            },
                            "chck_rslt_safe_grad": {
                              "type": "string",
                              "description": "점검결과",
                              "properties": {}
                            },
                            "chck_compt_ymd": {
                              "type": "string",
                              "description": "완료예정일자",
                              "properties": {}
                            },
                            "chck_fllw_managt": {
                              "type": "string",
                              "description": "지적사항",
                              "properties": {}
                            },
                            "chck_rslt_cn": {
                              "type": "string",
                              "description": "조치결과",
                              "properties": {}
                            },
                            "chck_year": {
                              "type": "string",
                              "description": "발생년도",
                              "properties": {}
                            },
                            "chck_cnt": {
                              "type": "string",
                              "description": "발생건수",
                              "properties": {}
                            },
                            "min_de": {
                              "type": "string",
                              "description": "발생건수",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "총 개수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "목록 건수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "유해화학물질취급시설 안전정보 조회",
        "description": "시설물 key를 요청받아 유해화학물질취급시설 안전점검 관련한 점검일자, 점검종류, 점검결과 등 상세 조회 기능",
        "operationId": "getHlhsnSafetyInfoSearch_4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "fclts_cd",
          "description": "시설물 key",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "응답결과 데이터 타입(xml, json)",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getEclntSafetyInfoSearch_4": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "category": {
                              "type": "string",
                              "description": "유형",
                              "properties": {}
                            },
                            "chck_start_ymd": {
                              "type": "string",
                              "description": "점검시작일",
                              "properties": {}
                            },
                            "chck_end_ymd": {
                              "type": "string",
                              "description": "점검종료일",
                              "properties": {}
                            },
                            "chck_dtls_type": {
                              "type": "string",
                              "description": "점검종류",
                              "properties": {}
                            },
                            "chck_inst_nm": {
                              "type": "string",
                              "description": "점검대상명",
                              "properties": {}
                            },
                            "chck_rslt_safe_grad": {
                              "type": "string",
                              "description": "점검결과",
                              "properties": {}
                            },
                            "chck_compt_ymd": {
                              "type": "string",
                              "description": "완료예정일자",
                              "properties": {}
                            },
                            "chck_fllw_managt": {
                              "type": "string",
                              "description": "지적사항",
                              "properties": {}
                            },
                            "chck_rslt_cn": {
                              "type": "string",
                              "description": "조치결과",
                              "properties": {}
                            },
                            "ecndm_check_mangm_rslt_cd": {
                              "type": "string",
                              "description": "종합의견",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "총 개수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "목록 건수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "사방시설 안전정보 조회",
        "description": "시설물 key를 요청받아 사방시설 안전점검 관련한 점검일자, 점검종류, 점검결과 등 상세 조회 기능",
        "operationId": "getEclntSafetyInfoSearch_4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "fclts_cd",
          "description": "시설물 key",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "응답결과 데이터 타입(xml, json)",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getHarborfcltySafetyInfoSearch_4": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "category": {
                              "type": "string",
                              "description": "유형",
                              "properties": {}
                            },
                            "chck_start_ymd": {
                              "type": "string",
                              "description": "점검시작일",
                              "properties": {}
                            },
                            "chck_end_ymd": {
                              "type": "string",
                              "description": "점검종료일",
                              "properties": {}
                            },
                            "chck_dtls_type": {
                              "type": "string",
                              "description": "점검종류",
                              "properties": {}
                            },
                            "chck_inst_nm": {
                              "type": "string",
                              "description": "점검대상명",
                              "properties": {}
                            },
                            "chck_rslt_safe_grad": {
                              "type": "string",
                              "description": "점검결과",
                              "properties": {}
                            },
                            "chck_compt_ymd": {
                              "type": "string",
                              "description": "완료예정일자",
                              "properties": {}
                            },
                            "chck_fllw_managt": {
                              "type": "string",
                              "description": "지적사항",
                              "properties": {}
                            },
                            "chck_rslt_cn": {
                              "type": "string",
                              "description": "조치결과",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "총 개수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "목록 건수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "항만시설 안전정보 조회",
        "description": "시설물 key를 요청받아 항만시설 안전점검 관련한 점검일자, 점검종류, 점검결과 등 상세 조회 기능",
        "operationId": "getHarborfcltySafetyInfoSearch_4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "fclts_cd",
          "description": "시설물 key",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "응답결과 데이터 타입(xml, json)",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getPsnshipSafetyInfoSearch_4": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "category": {
                              "type": "string",
                              "description": "유형",
                              "properties": {}
                            },
                            "chck_start_ymd": {
                              "type": "string",
                              "description": "점검시작일",
                              "properties": {}
                            },
                            "chck_end_ymd": {
                              "type": "string",
                              "description": "점검종료일",
                              "properties": {}
                            },
                            "chck_dtls_type": {
                              "type": "string",
                              "description": "점검종류",
                              "properties": {}
                            },
                            "chck_inst_nm": {
                              "type": "string",
                              "description": "점검대상명",
                              "properties": {}
                            },
                            "chck_rslt_safe_grad": {
                              "type": "string",
                              "description": "점검결과",
                              "properties": {}
                            },
                            "chck_compt_ymd": {
                              "type": "string",
                              "description": "완료예정일자",
                              "properties": {}
                            },
                            "chck_fllw_managt": {
                              "type": "string",
                              "description": "지적사항",
                              "properties": {}
                            },
                            "chck_rslt_cn": {
                              "type": "string",
                              "description": "조치결과",
                              "properties": {}
                            },
                            "acdnttm": {
                              "type": "string",
                              "description": "해양사고일시",
                              "properties": {}
                            },
                            "acdntcn": {
                              "type": "string",
                              "description": "해양사고개요",
                              "properties": {}
                            },
                            "psnship_nm": {
                              "type": "string",
                              "description": "선박명",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "총 개수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "목록 건수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "여객선 안전정보 조회",
        "description": "시설물 key를 요청받아 여객선 안전점검 관련한 점검일자, 점검종류, 점검결과 등 상세 조회 기능",
        "operationId": "getPsnshipSafetyInfoSearch_4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "fclts_cd",
          "description": "시설물 key",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "응답결과 데이터 타입(xml, json)",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getWaterLeisureSafetyInfoSearch_4": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "Items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "category": {
                              "type": "string",
                              "description": "유형",
                              "properties": {}
                            },
                            "chck_start_ymd": {
                              "type": "string",
                              "description": "점검시작일",
                              "properties": {}
                            },
                            "chck_end_ymd": {
                              "type": "string",
                              "description": "점검종료일",
                              "properties": {}
                            },
                            "chck_dtls_type": {
                              "type": "string",
                              "description": "점검종류",
                              "properties": {}
                            },
                            "chck_inst_nm": {
                              "type": "string",
                              "description": "점검대상명",
                              "properties": {}
                            },
                            "chck_rslt_safe_grad": {
                              "type": "string",
                              "description": "점검결과",
                              "properties": {}
                            },
                            "chck_compt_ymd": {
                              "type": "string",
                              "description": "완료예정일자",
                              "properties": {}
                            },
                            "chck_fllw_managt": {
                              "type": "string",
                              "description": "지적사항",
                              "properties": {}
                            },
                            "chck_rslt_cn": {
                              "type": "string",
                              "description": "조치결과",
                              "properties": {}
                            },
                            "chck_year": {
                              "type": "string",
                              "description": "점검년도",
                              "properties": {}
                            },
                            "chck_cl_nm": {
                              "type": "string",
                              "description": "점검방법",
                              "properties": {}
                            },
                            "fllw_managt_nm": {
                              "type": "string",
                              "description": "지적사항유형",
                              "properties": {}
                            },
                            "fllw_managt_cn": {
                              "type": "string",
                              "description": "조치사항",
                              "properties": {}
                            },
                            "eqp_nm": {
                              "type": "string",
                              "description": "설비명",
                              "properties": {}
                            },
                            "fllw_managt_sttus_cd": {
                              "type": "string",
                              "description": "점검결과 코드",
                              "properties": {}
                            },
                            "pntmtr_cn": {
                              "type": "string",
                              "description": "지적사항",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "총 개수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "목록 건수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "수상레저시설 안전정보 조회",
        "description": "시설물 key를 요청받아 수상레저시설 안전점검 관련한 점검일자, 점검종류, 점검결과 등 상세 조회 기능",
        "operationId": "getWaterLeisureSafetyInfoSearch_4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 발급받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "응답결과 데이터 타입(xml, json)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "fclts_cd",
          "description": "시설물 key",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getRuralHomestaySafetyInfoSearch_4": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "category": {
                              "type": "string",
                              "description": "유형",
                              "properties": {}
                            },
                            "chck_start_ymd": {
                              "type": "string",
                              "description": "점검시작일",
                              "properties": {}
                            },
                            "chck_end_ymd": {
                              "type": "string",
                              "description": "점검종료일",
                              "properties": {}
                            },
                            "chck_dtls_type": {
                              "type": "string",
                              "description": "점검종류",
                              "properties": {}
                            },
                            "chck_inst_nm": {
                              "type": "string",
                              "description": "점검대상명",
                              "properties": {}
                            },
                            "chck_rslt_safe_grad": {
                              "type": "string",
                              "description": "점검결과",
                              "properties": {}
                            },
                            "chck_compt_ymd": {
                              "type": "string",
                              "description": "완료예정일자",
                              "properties": {}
                            },
                            "chck_fllw_managt": {
                              "type": "string",
                              "description": "지적사항",
                              "properties": {}
                            },
                            "chck_rslt_cn": {
                              "type": "string",
                              "description": "조치결과",
                              "properties": {}
                            },
                            "apv_perm_ymd": {
                              "type": "string",
                              "description": "인허가일자",
                              "properties": {}
                            },
                            "nt_ymd": {
                              "type": "string",
                              "description": "신고일자 ",
                              "properties": {}
                            },
                            "rem": {
                              "type": "string",
                              "description": "비고 ",
                              "properties": {}
                            },
                            "bed_bref_site_rdn_whl_addr": {
                              "type": "string",
                              "description": "민박소재지도로명주소전체주소",
                              "properties": {}
                            },
                            "dcb_ymd": {
                              "type": "string",
                              "description": "폐업일자",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "총 개수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "목록 건수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "농어촌민박시설 안전정보 조회",
        "description": "시설물 key를 요청받아 농어촌민박시설 안전점검 관련한 점검일자, 점검종류, 점검결과 등 상세 조회 기능",
        "operationId": "getRuralHomestaySafetyInfoSearch_4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 발급받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "응답결과 데이터 타입(xml, json)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "fclts_cd",
          "description": "시설물 key",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getLongTermCareSafetyInfoSearch_4": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "category": {
                              "type": "string",
                              "description": "유형",
                              "properties": {}
                            },
                            "chck_start_ymd": {
                              "type": "string",
                              "description": "점검시작일",
                              "properties": {}
                            },
                            "chck_end_ymd": {
                              "type": "string",
                              "description": "점검종료일",
                              "properties": {}
                            },
                            "chck_dtls_type": {
                              "type": "string",
                              "description": "점검종류",
                              "properties": {}
                            },
                            "chck_inst_nm": {
                              "type": "string",
                              "description": "점검대상명",
                              "properties": {}
                            },
                            "chck_rslt_safe_grad": {
                              "type": "string",
                              "description": "점검결과",
                              "properties": {}
                            },
                            "chck_compt_ymd": {
                              "type": "string",
                              "description": "완료예정일자",
                              "properties": {}
                            },
                            "chck_fllw_managt": {
                              "type": "string",
                              "description": "지적사항",
                              "properties": {}
                            },
                            "chck_rslt_cn": {
                              "type": "string",
                              "description": "조치결과",
                              "properties": {}
                            },
                            "adminNm": {
                              "type": "string",
                              "description": "장기요양기관이름",
                              "properties": {}
                            },
                            "assGradeEnvironmentSafety": {
                              "type": "string",
                              "description": "평가-환경및안전",
                              "properties": {}
                            },
                            "assGradeFinal": {
                              "type": "string",
                              "description": "평가-최종등급",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "총 개수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "목록 건수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "장기요양시설 안전정보 조회",
        "description": "시설물 key를 요청받아 장기요양시설 안전점검 관련한 점검일자, 점검종류, 점검결과 등 상세 조회 기능",
        "operationId": "getLongTermCareSafetyInfoSearch_4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 발급받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "응답결과 데이터 타입(xml, json)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "fclts_cd",
          "description": "시설물 key",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getMultiUseFacilitySafetyInfoSearch_4": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "category": {
                              "type": "string",
                              "description": "유형",
                              "properties": {}
                            },
                            "chck_start_ymd": {
                              "type": "string",
                              "description": "점검시작일",
                              "properties": {}
                            },
                            "chck_end_ymd": {
                              "type": "string",
                              "description": "점검종료일",
                              "properties": {}
                            },
                            "chck_dtls_type": {
                              "type": "string",
                              "description": "점검종류",
                              "properties": {}
                            },
                            "chck_inst_nm": {
                              "type": "string",
                              "description": "점검대상명",
                              "properties": {}
                            },
                            "chck_rslt_safe_grad": {
                              "type": "string",
                              "description": "점검결과",
                              "properties": {}
                            },
                            "chck_compt_ymd": {
                              "type": "string",
                              "description": "완료예정일자",
                              "properties": {}
                            },
                            "chck_fllw_managt": {
                              "type": "string",
                              "description": "지적사항",
                              "properties": {}
                            },
                            "chck_rslt_cn": {
                              "type": "string",
                              "description": "조치결과",
                              "properties": {}
                            },
                            "scxm_chck_odr": {
                              "type": "string",
                              "description": "특별조사점검차수",
                              "properties": {}
                            },
                            "scxm_chck_plan_no": {
                              "type": "string",
                              "description": "특별조사점검계획번호",
                              "properties": {}
                            },
                            "pssc_sscr_amt": {
                              "type": "string",
                              "description": "대인담보가입금액",
                              "properties": {}
                            },
                            "scat_sscr_amt": {
                              "type": "string",
                              "description": "대물담보가입금액",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "총 개수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "목록 건수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "다중이용시설 안전정보 조회",
        "description": "시설물 key를 요청받아 다중이용시설 안전점검 관련한 점검일자, 점검종류, 점검결과 등 상세 조회 기능",
        "operationId": "getMultiUseFacilitySafetyInfoSearch_4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 발급받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "응답결과 데이터 타입(xml, json)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "fclts_cd",
          "description": "시설물 key",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getFoodfcltySafetyInfoSearch_4": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "category": {
                              "type": "string",
                              "description": "유형",
                              "properties": {}
                            },
                            "chck_start_ymd": {
                              "type": "string",
                              "description": "점검일시",
                              "properties": {}
                            },
                            "chck_end_ymd": {
                              "type": "string",
                              "description": "점검종료일",
                              "properties": {}
                            },
                            "chck_dtls_type": {
                              "type": "string",
                              "description": "점검종류",
                              "properties": {}
                            },
                            "chck_inst_nm": {
                              "type": "string",
                              "description": "점검대상명",
                              "properties": {}
                            },
                            "chck_rslt_safe_grad": {
                              "type": "string",
                              "description": "점검결과",
                              "properties": {}
                            },
                            "chck_compt_ymd": {
                              "type": "string",
                              "description": "완료예정일자",
                              "properties": {}
                            },
                            "chck_fllw_managt": {
                              "type": "string",
                              "description": "위반내용",
                              "properties": {}
                            },
                            "chck_rslt_cn": {
                              "type": "string",
                              "description": "처분내용",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "총 개수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "목록 건수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "식품판매시설 안전정보 조회",
        "description": "시설물 key를 요청받아 식품판매시설 안전정보상세 조회 기능",
        "operationId": "getFoodfcltySafetyInfoSearch_4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "응답결과 데이터 타입",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "fclts_cd",
          "description": "시설물 key",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getConcerthallSafetyInfoSearch_4": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "category": {
                              "type": "string",
                              "description": "유형",
                              "properties": {}
                            },
                            "chck_start_ymd": {
                              "type": "string",
                              "description": "점검시작일",
                              "properties": {}
                            },
                            "chck_end_ymd": {
                              "type": "string",
                              "description": "점검종료일",
                              "properties": {}
                            },
                            "chck_dtls_type": {
                              "type": "string",
                              "description": "점검종류",
                              "properties": {}
                            },
                            "chck_inst_nm": {
                              "type": "string",
                              "description": "점검대상명",
                              "properties": {}
                            },
                            "chck_rslt_safe_grad": {
                              "type": "string",
                              "description": "점검결과",
                              "properties": {}
                            },
                            "chck_compt_ymd": {
                              "type": "string",
                              "description": "완료예정일자",
                              "properties": {}
                            },
                            "chck_fllw_managt": {
                              "type": "string",
                              "description": "지적사항",
                              "properties": {}
                            },
                            "chck_rslt_cn": {
                              "type": "string",
                              "description": "조치결과",
                              "properties": {}
                            },
                            "results": {
                              "type": "string",
                              "description": "진단 종류-세부",
                              "properties": {}
                            },
                            "diagnosis_type3_date": {
                              "type": "string",
                              "description": "정밀안전진단일",
                              "properties": {}
                            },
                            "diagnosis_type3_plan_dt": {
                              "type": "string",
                              "description": "정밀안전검사예정일",
                              "properties": {}
                            },
                            "edu_valid_term": {
                              "type": "string",
                              "description": "교육유효기간",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "총 개수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "목록 건수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "공연장시설 안전정보 조회",
        "description": "시설물 key를 요청받아 공연장시설 안전점검 관련한 점검일자, 점검종류, 점검결과 등 상세 조회 기능",
        "operationId": "getConcerthallSafetyInfoSearch_4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 발급받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "응답결과 데이터 타입(xml, json)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "fclts_cd",
          "description": "시설물 key",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getMechanicalSafetyInfoSearch_4": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "category": {
                              "type": "string",
                              "description": "유형",
                              "properties": {}
                            },
                            "chck_start_ymd": {
                              "type": "string",
                              "description": "점검시작일",
                              "properties": {}
                            },
                            "chck_end_ymd": {
                              "type": "string",
                              "description": "점검종료일",
                              "properties": {}
                            },
                            "chck_dtls_type": {
                              "type": "string",
                              "description": "점검종류",
                              "properties": {}
                            },
                            "chck_inst_nm": {
                              "type": "string",
                              "description": "점검대상명",
                              "properties": {}
                            },
                            "chck_rslt_safe_grad": {
                              "type": "string",
                              "description": "점검결과",
                              "properties": {}
                            },
                            "chck_compt_ymd": {
                              "type": "string",
                              "description": "완료예정일자",
                              "properties": {}
                            },
                            "chck_fllw_managt": {
                              "type": "string",
                              "description": "지적사항",
                              "properties": {}
                            },
                            "chck_rslt_cn": {
                              "type": "string",
                              "description": "조치결과",
                              "properties": {}
                            },
                            "eqp_use_yn": {
                              "type": "string",
                              "description": "설비사용여부",
                              "properties": {}
                            },
                            "eqp_ty": {
                              "type": "string",
                              "description": "설비종류",
                              "properties": {}
                            },
                            "tot_instl_cnt": {
                              "type": "string",
                              "description": "주차대수",
                              "properties": {}
                            },
                            "next_insp_stdde": {
                              "type": "string",
                              "description": "차기검사기준일",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "총 개수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "목록 건수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "기계식주차장시설 안전정보 조회",
        "description": "시설물 key를 요청받아 기계식주차장시설 안전점검 관련한 점검일자, 점검종류, 점검결과 등 상세 조회 기능",
        "operationId": "getMechanicalSafetyInfoSearch_4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 발급받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "응답결과 데이터 타입(xml, json)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "fclts_cd",
          "description": "시설물 key",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getYouthTrainingSafetyInfoSearch_4": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "category": {
                              "type": "string",
                              "description": "유형",
                              "properties": {}
                            },
                            "chck_start_ymd": {
                              "type": "string",
                              "description": "점검시작일",
                              "properties": {}
                            },
                            "chck_end_ymd": {
                              "type": "string",
                              "description": "점검종료일",
                              "properties": {}
                            },
                            "chck_dtls_type": {
                              "type": "string",
                              "description": "점검종류",
                              "properties": {}
                            },
                            "chck_inst_nm": {
                              "type": "string",
                              "description": "점검대상명",
                              "properties": {}
                            },
                            "chck_rslt_safe_grad": {
                              "type": "string",
                              "description": "점검결과",
                              "properties": {}
                            },
                            "chck_compt_ymd": {
                              "type": "string",
                              "description": "완료예정일자",
                              "properties": {}
                            },
                            "chck_fllw_managt": {
                              "type": "string",
                              "description": "지적사항",
                              "properties": {}
                            },
                            "chck_rslt_cn": {
                              "type": "string",
                              "description": "조치결과",
                              "properties": {}
                            },
                            "year": {
                              "type": "string",
                              "description": "점검년도",
                              "properties": {}
                            },
                            "gnrlz_Chck_bildng": {
                              "type": "string",
                              "description": "종합점검-건축",
                              "properties": {}
                            },
[...]
