{
  "swagger": "2.0",
  "info": {
    "description": "*(장단기)체류외국인 : ‘관광 등 목적으로 90일 이내 단기체류하는 외국인’, ‘91일 이상 장기 거주하는 등록외국인 및 외국국적동포 거소신고자’ 등 대한민국의 국적을 갖지 아니하고, 대한민국에 체류하는 모든 체류 외국인 (체류기간 만료일을 경과한 불법체류외국인도 포함)\\n\\n원본 데이터는 출입국외국인정책본부 홈페이지의 통계월보에서 확인하실 수 있으며 경로는 아래와 같습니다.\\n\\nhttps://www.immigration.go.kr/immigration/1569/subview.do?enc=Zm5jdDF8QEB8JTJGYmJzJTJGaW1taWdyYXRpb24lMkYyMjclMkY1OTU0MjYlMkZhcnRjbFZpZXcuZG8lM0ZwYXNzd29yZCUzRCUyNnJnc0JnbmRlU3RyJTNEJTI2YmJzQ2xTZXElM0QlMjZyZ3NFbmRkZVN0ciUzRCUyNmlzVmlld01pbmUlM0RmYWxzZSUyNnBhZ2UlM0QxJTI2YmJzT3BlbldyZFNlcSUzRCUyNnNyY2hDb2x1bW4lM0QlMjZzcmNoV3JkJTNEJTI2",
    "version": "1.0.0",
    "title": "법무부_장단기체류외국인 월별 체류외국인 현황 카운터 조회서비스"
  },
  "host": "apis.data.go.kr/1270000/stay_person_counter",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getstaypersoncounter": {
      "get": {
        "responses": {
          "2": {
            "description": "Failed - ServiceKey Empty - 인증키 값이 없는 경우"
          },
          "3": {
            "description": "Failed - ServiceKey Invalid - 인증키 값이 올바르지 않는 경우"
          },
          "5": {
            "description": "Failed - No more Data - 조회데이터가 없는 경우"
          },
          "6": {
            "description": "Failed - Date parameter Invalid - 잘못된 파라미터로 요청한 경우"
          },
          "7": {
            "description": "Failed - Date parameter Duplicate - 단일검색, 기간검색 파라미터를 동시에 조회한 경우"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "stayYear": {
                              "type": "string",
                              "description": "요청 데이터 연도(YYYY)",
                              "properties": {}
                            },
                            "stayMonth": {
                              "type": "string",
                              "description": "요청 데이터 월(1-12)",
                              "properties": {}
                            },
                            "division": {
                              "type": "string",
                              "description": "체류구분",
                              "properties": {}
                            },
                            "staycount": {
                              "type": "string",
                              "description": "체류 외국인수",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "장단기체류외국인 월별 체류외국인 현황",
        "description": "장단기체류외국인 월별 체류외국인 현황 API",
        "operationId": "getstaypersoncounter",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "number",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "number",
          "required": true,
          "in": "query"
        },
        {
          "name": "startYm",
          "description": "기간검색 시작 날짜(YYYYMM)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "endYm",
          "description": "기간검색 종료 날짜(YYYYMM)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "searchYm",
          "description": "단일검색 조회 날짜(YYYYMM)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "eNum",
          "description": "구분검색(1:단기체류, 2:장기체류거소 검색, 3:장기체류등록 검색)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "getstaypersoncounter_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "stayYear": {
                      "type": "string",
                      "description": "요청 데이터 연도(YYYY)"
                    },
                    "stayMonth": {
                      "type": "string",
                      "description": "요청 데이터 월(1-12)"
                    },
                    "division": {
                      "type": "string",
                      "description": "체류구분"
                    },
                    "staycount": {
                      "type": "string",
                      "description": "체류 외국인수"
                    }
                  }
                }
              }
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            }
          }
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://www.moj.go.kr/purchasesgoodsApi/stay_person_counter",
      "oprtinNm": "장단기체류외국인 월별 체류외국인 현황",
      "oprtinDc": "장단기체류외국인 월별 체류외국인 현황 API",
      "gwSvcNm": "getstaypersoncounter",
      "operationId": "getstaypersoncounter",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrBassValue": "-",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "pageNo",
          "paramtrDc": "페이지번호",
          "paramtrBassValue": "1",
          "paramtrTy": "number",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "numOfRows",
          "paramtrDc": "한 페이지 결과 수",
          "paramtrBassValue": "10",
          "paramtrTy": "number",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "startYm",
          "paramtrDc": "기간검색 시작 날짜(YYYYMM)",
          "paramtrBassValue": "",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "endYm",
          "paramtrDc": "기간검색 종료 날짜(YYYYMM)",
          "paramtrBassValue": "",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "searchYm",
          "paramtrDc": "단일검색 조회 날짜(YYYYMM)",
          "paramtrBassValue": "",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "eNum",
          "paramtrDc": "구분검색(1:단기체류, 2:장기체류거소 검색, 3:장기체류등록 검색)",
          "paramtrBassValue": "1",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/oper-1-header",
          "subDefNm": "oper-1-header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "resultCode",
              "paramtrDc": "결과코드",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "resultMsg",
              "paramtrDc": "결과메세지",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/oper-1-body",
          "subDefNm": "oper-1-body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "items",
              "paramtrDc": "items",
              "arrayYn": "N",
              "paramtrDefNm": "#/definitions/oper-1-items",
              "subDefNm": "oper-1-items",
              "paramtrTy": "object",
              "paramtrDivision": "필수",
              "ck": true,
              "subParam": [
                {
                  "paramtrNm": "item",
                  "paramtrDc": "item",
                  "arrayYn": "N",
                  "paramtrDefNm": "#/definitions/oper-1-item",
                  "subDefNm": "oper-1-item",
                  "paramtrTy": "object",
                  "paramtrDivision": "필수",
                  "ck": true,
                  "subParam": [
                    {
                      "paramtrNm": "stayYear",
                      "paramtrDc": "요청 데이터 연도(YYYY)",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "stayMonth",
                      "paramtrDc": "요청 데이터 월(1-12)",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "division",
                      "paramtrDc": "체류구분",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "staycount",
                      "paramtrDc": "체류 외국인수",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    }
                  ]
                }
              ]
            },
            {
              "paramtrNm": "totalCount",
              "paramtrDc": "전체 결과 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "pageNo",
              "paramtrDc": "페이지번호",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "numOfRows",
              "paramtrDc": "한 페이지 결과 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        }
      ]
    }
  ]
}
