{
  "swagger": "2.0",
  "info": {
    "description": "[요약 정보]\\n 국가∙지역별 특별여행주의보 목록 조회: 한글 국가 명 또는 ISO국가코드\\n(다.참고 1 ISO국가코드 이용 )를 이용하여 국가∙지역별 특별여행주의보 목록 조회\\n- 외교부에서 지정하는 여행 유의, 자제, 제한 등 해외 여행경보 대상국가 목록 및 상세정보의 히스토리내역을 제공하는 공공데이터 API 서비스\\n\\n[응답 정보]\\n현재 개수, 일치데이터 개수, 현재페이지, 페이지 당 갯수, 총개수, 영문 국가명, 한글 국가명, ISO 2자리 코드, 대륙코드, 영문 대륙명, 한글 대륙명, 위험지도 경로, 국기다운로드 경로, 지도다운로드 경로, 철수 권고 비고, 지역유형, 작성일",
    "version": "1.0.0",
    "title": "외교부_국가∙지역별 특별여행주의보"
  },
  "host": "apis.data.go.kr/1262000/SptravelWarningServiceV2",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getSptravelWarningListV2": {
      "get": {
        "responses": {
          "0": {
            "description": "(OK)정상"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "응답결과 코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "응답결과 메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "dataType": {
                      "type": "string",
                      "description": "응답 데이터포맷",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "country_eng_nm": {
                              "type": "string",
                              "description": "영문 국가명",
                              "properties": {}
                            },
                            "country_nm": {
                              "type": "string",
                              "description": "한글 국가명",
                              "properties": {}
                            },
                            "country_iso_alp2": {
                              "type": "string",
                              "description": "ISO 2자리 코드",
                              "properties": {}
                            },
                            "continent_cd": {
                              "type": "string",
                              "description": "대륙코드",
                              "properties": {}
                            },
                            "continent_eng_nm": {
                              "type": "string",
                              "description": "영문 대륙명",
                              "properties": {}
                            },
                            "continent_nm": {
                              "type": "string",
                              "description": "한글 대륙명",
                              "properties": {}
                            },
                            "dang_map_download_url": {
                              "type": "string",
                              "description": "위험지도경로",
                              "properties": {}
                            },
                            "flag_download_url": {
                              "type": "string",
                              "description": "국기다운로드경로",
                              "properties": {}
                            },
                            "map_download_url": {
                              "type": "string",
                              "description": "지도다운로드경로",
                              "properties": {}
                            },
                            "evacuate_rcmnd_remark": {
                              "type": "string",
                              "description": "철수권고비고",
                              "properties": {}
                            },
                            "evacuate_region_ty": {
                              "type": "string",
                              "description": "철수권고지역유형",
                              "properties": {}
                            },
                            "forbidden_rcmnd_remark": {
                              "type": "string",
                              "description": "즉시대피비고",
                              "properties": {}
                            },
                            "forbidden_region_ty": {
                              "type": "string",
                              "description": "즉시대피지역유형",
                              "properties": {}
                            },
                            "written_dt": {
                              "type": "string",
                              "description": "작성일",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "integer",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "integer",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "integer",
                      "description": "총 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "-1": {
            "description": "시스템 에러"
          },
          "-2": {
            "description": "잘못된 요청 및 파라미터 에러"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "국가∙지역별 특별여행주의보 목록 조회",
        "description": "한글 국가명 ISO국가코드(다.참고 1 ISO국가코드 이용 )를 이용하여 국가∙지역별 특별여행주의보 목록 조회",
        "operationId": "getSptravelWarningListV2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "ServiceKey",
          "description": "공공데이터포털에서 발급받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "returnType",
          "description": "XML 또는 JSON",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "cond[country_nm::EQ]",
          "description": "한글 국가명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[country_iso_alp2::EQ]",
          "description": "ISO 2자리코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지 번호",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "getSptravelWarningListV2_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "응답결과 코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "응답결과 메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "dataType": {
              "type": "string",
              "description": "응답 데이터포맷"
            },
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "country_eng_nm": {
                      "type": "string",
                      "description": "영문 국가명"
                    },
                    "country_nm": {
                      "type": "string",
                      "description": "한글 국가명"
                    },
                    "country_iso_alp2": {
                      "type": "string",
                      "description": "ISO 2자리 코드"
                    },
                    "continent_cd": {
                      "type": "string",
                      "description": "대륙코드"
                    },
                    "continent_eng_nm": {
                      "type": "string",
                      "description": "영문 대륙명"
                    },
                    "continent_nm": {
                      "type": "string",
                      "description": "한글 대륙명"
                    },
                    "dang_map_download_url": {
                      "type": "string",
                      "description": "위험지도경로"
                    },
                    "flag_download_url": {
                      "type": "string",
                      "description": "국기다운로드경로"
                    },
                    "map_download_url": {
                      "type": "string",
                      "description": "지도다운로드경로"
                    },
                    "evacuate_rcmnd_remark": {
                      "type": "string",
                      "description": "철수권고비고"
                    },
                    "evacuate_region_ty": {
                      "type": "string",
                      "description": "철수권고지역유형"
                    },
                    "forbidden_rcmnd_remark": {
                      "type": "string",
                      "description": "즉시대피비고"
                    },
                    "forbidden_region_ty": {
                      "type": "string",
                      "description": "즉시대피지역유형"
                    },
                    "written_dt": {
                      "type": "string",
                      "description": "작성일"
                    }
                  }
                }
              }
            },
            "numOfRows": {
              "type": "integer",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "integer",
              "description": "페이지번호"
            },
            "totalCount": {
              "type": "integer",
              "description": "총 결과 수"
            }
          }
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "http://opendata.mofa.go.kr:8080/api/sptravelWarnings/v2/get",
      "oprtinNm": "국가∙지역별 특별여행주의보 목록 조회",
      "oprtinDc": "한글 국가명 ISO국가코드(다.참고 1 ISO국가코드 이용 )를 이용하여 국가∙지역별 특별여행주의보 목록 조회",
      "gwSvcNm": "getSptravelWarningListV2",
      "operationId": "getSptravelWarningListV2",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "ServiceKey",
          "paramtrDc": "공공데이터포털에서 발급받은 인증키",
          "paramtrBassValue": "인증키 (URL- Encode)",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "returnType",
          "paramtrDc": "XML 또는 JSON",
          "paramtrBassValue": "JSON",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "numOfRows",
          "paramtrDc": "한 페이지 결과 수",
          "paramtrBassValue": "10",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "cond[country_nm::EQ]",
          "paramtrDc": "한글 국가명",
          "paramtrBassValue": "가나",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "cond[country_iso_alp2::EQ]",
          "paramtrDc": "ISO 2자리코드",
          "paramtrBassValue": "GH",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "pageNo",
          "paramtrDc": "페이지 번호",
          "paramtrBassValue": "1",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/header-data",
          "subDefNm": "header-data",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "resultCode",
              "paramtrDc": "응답결과 코드",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "resultMsg",
              "paramtrDc": "응답결과 메시지",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/body-data",
          "subDefNm": "body-data",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "dataType",
              "paramtrDc": "응답 데이터포맷",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "items",
              "paramtrDc": "items",
              "arrayYn": "N",
              "paramtrDefNm": "#/definitions/items-data",
              "subDefNm": "items-data",
              "paramtrTy": "object",
              "paramtrDivision": "필수",
              "ck": true,
              "subParam": [
                {
                  "paramtrNm": "item",
                  "paramtrDc": "item",
                  "arrayYn": "N",
                  "paramtrDefNm": "#/definitions/item-data",
                  "subDefNm": "item-data",
                  "paramtrTy": "object",
                  "paramtrDivision": "필수",
                  "ck": true,
                  "subParam": [
                    {
                      "paramtrNm": "country_eng_nm",
                      "paramtrDc": "영문 국가명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "country_nm",
                      "paramtrDc": "한글 국가명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "country_iso_alp2",
                      "paramtrDc": "ISO 2자리 코드",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "continent_cd",
                      "paramtrDc": "대륙코드",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "continent_eng_nm",
                      "paramtrDc": "영문 대륙명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "continent_nm",
                      "paramtrDc": "한글 대륙명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "dang_map_download_url",
                      "paramtrDc": "위험지도경로",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "flag_download_url",
                      "paramtrDc": "국기다운로드경로",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "map_download_url",
                      "paramtrDc": "지도다운로드경로",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "evacuate_rcmnd_remark",
                      "paramtrDc": "철수권고비고",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "evacuate_region_ty",
                      "paramtrDc": "철수권고지역유형",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "forbidden_rcmnd_remark",
                      "paramtrDc": "즉시대피비고",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "forbidden_region_ty",
                      "paramtrDc": "즉시대피지역유형",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "written_dt",
                      "paramtrDc": "작성일",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    }
                  ]
                }
              ]
            },
            {
              "paramtrNm": "numOfRows",
              "paramtrDc": "한 페이지 결과 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "integer",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "pageNo",
              "paramtrDc": "페이지번호",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "integer",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "totalCount",
              "paramtrDc": "총 결과 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "integer",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        }
      ]
    }
  ]
}
