{"swagger":"2.0","info":{"version":"1","title":"저작권 등록정보 서비스","description":"한국저작권위원회에 등록된 저작권 등록정보 서비스 약 780,000건의 저작물이 등록되어 있으며, 저작권 등록정보 통합검색 및 상세 조회서비스를 제공한다."},"host":"api.odcloud.kr","basePath":"/api","schemes":["https","http"],"securityDefinitions":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization"},"ApiKeyAuth2":{"type":"apiKey","in":"query","name":"serviceKey"}},"paths":{"/CpyrRegInforService/v1/getCpyrRegInforUniList":{"get":{"tags":["API 목록"],"summary":"저작권등록정보 통합검색목록 조회","operationId":"getgetCpyrRegInforUniList","description":"저작권등록정보에 대한 통합검색목록을 조회","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false},{"name":"cond[REG_ID::EQ]","in":"query","description":"저작권 등록번호","type":"string","format":"string","required":false},{"name":"cond[CONT_TITLE::LIKE]","in":"query","description":"제호","type":"string","format":"string","required":false},{"name":"cond[AUTHOR_NAME::LIKE]","in":"query","description":"저작자","type":"string","format":"string","required":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/getCpyrRegInforUniList_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/CpyrRegInforService/v1/getCpyrRegInforUniDetail":{"get":{"tags":["API 목록"],"summary":"저작권등록정보 통합검색상세 조회","operationId":"getgetCpyrRegInforUniDetail","description":"저작권등록정보에 대한 통합검색상세내용을 조회","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false},{"name":"cond[REG_ID::EQ]","in":"query","description":"저작권 등록번호","type":"string","format":"string","required":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/getCpyrRegInforUniDetail_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}}},"definitions":{"getCpyrRegInforUniList_model":{"type":"object","properties":{"REG_ID":{"type":"string","description":"저작권 등록번호"},"CONT_TITLE":{"type":"string","description":"제호"},"AUTHOR_NAME":{"type":"string","description":"저작자"},"REG_DATE":{"type":"string","description":"등록일자"}}},"getCpyrRegInforUniList_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/getCpyrRegInforUniList_model"}}}},"getCpyrRegInforUniDetail_model":{"type":"object","properties":{"REG_ID":{"type":"string","description":"저작권 등록번호"},"REG_REASON":{"type":"string","description":"등록원인(예, 저작자 : 홍길동, 창작:2022.09.21, 공표:2022.09.21)"},"CONT_TITLE":{"type":"string","description":"제호"},"REG_PART1_NAME":{"type":"string","description":"등록부문1(프로그램 등록)"},"REG_PART2_NAME":{"type":"string","description":"등록부문2(저작자성명, 창작연월일)"},"CONT_CLASS_NAME":{"type":"string","description":"저작물 종류(예, 프로그램, 어문 등)"},"AUTHOR_NAME":{"type":"string","description":"저작자"},"REG_DATE":{"type":"string","description":"등록일자"},"DISPOSAL_NAME":{"type":"string","description":"등록권리자"}}},"getCpyrRegInforUniDetail_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/getCpyrRegInforUniDetail_model"}}}}}}