{
  "swagger": "2.0",
  "info": {
    "description": "본 데이터는 한국대학교육협의회에서 운영하는 대학알리미를 기반으로 수집된 것으로, 국내 대학의 입학, 재학, 졸업 및 학생 성과 전반에 대한 현황을 종합적으로 제공.\\n\\n주요 항목으로는 대학의 학생 선발 구조와 학사 운영 성과를 파악할 수 있는 지표들이 포함되어 있으며, 구체적으로 신입생 기회균형선발 비율, 신입생 충원율, 외국인 학생 수 및 외국인 중도탈락 학생 수, 입학전형 최종 등록률, 재적학생 수, 재학생 수, 재학생 충원율, 정원내 신입생 경쟁률, 졸업자 수, 취업자 수, 중도탈락 학생 수 및 중도탈락 학생 비율 등이 제공.\\n\\n신입생 기회균형선발 비율은 사회적 배려 대상자 및 다양한 배경을 가진 학생들의 입학 기회를 확대하는 정도를 나타내며, 신입생 충원율과 입학전형 최종 등록률은 대학의 모집 경쟁력과 선호도를 파악할 수 있는 지표이다. 외국인 학생 수와 중도탈락 현황은 대학의 국제화 수준과 외국인 학생 지원 체계를 분석하는 데 활용.\\n\\n또한 재적학생 수와 재학생 수, 재학생 충원율은 대학의 규모와 운영 안정성을 보여주며, 정원내 신입생 경쟁률은 입학 경쟁 수준을 나타낸다. 졸업자 수와 취업자 수는 교육 성과 및 진로 성과를 확인할 수 있는 지표이며, 중도탈락 학생 수와 비율은 학업 지속성과 학생 유지 관리 수준을 평가하는 데 활용.\\n\\n본 데이터는 대학의 입학 경쟁력, 학사 운영 효율성, 학생 유지 및 성과를 종합적으로 분석하고, 고등교육 정책 수립 및 대국민 정보 제공을 위한 기초 자료로 활용.",
    "version": "1.0.0",
    "title": "한국대학교육협의회 대학정보공시 학생 현황_GW"
  },
  "host": "apis.data.go.kr/B340014/StudentService",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getComparisonFreshmanChanceBalanceSelectionRatio": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "indctId": {
                              "type": "string",
                              "description": "지표아이디",
                              "properties": {}
                            },
                            "indctVal1": {
                              "type": "string",
                              "description": "지표값 (단위 : %)",
                              "properties": {}
                            },
                            "indctYr": {
                              "type": "string",
                              "description": "지표아이디 (해당년도)",
                              "properties": {}
                            },
                            "schlDivNm": {
                              "type": "string",
                              "description": "학교종류",
                              "properties": {}
                            },
                            "schlEstbNm": {
                              "type": "string",
                              "description": "설립구분",
                              "properties": {}
                            },
                            "schlId": {
                              "type": "string",
                              "description": "학교아이디",
                              "properties": {}
                            },
                            "schlKrnNm": {
                              "type": "string",
                              "description": "학교한글명",
                              "properties": {}
                            },
                            "svyYr": {
                              "type": "string",
                              "description": "공시년도",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "신입생 기회균형 선발 비율_대학비교통계",
        "description": "공시년도,학교아이디를 기준으로 학교종류, 설립구분, 신입생 기회균형 선발 비율 등을 제공하는 신입생 기회균형 선발 비율 조회 서비스",
        "operationId": "getComparisonFreshmanChanceBalanceSelectionRatio",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "schlId",
          "description": "학교아이디",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "svyYr",
          "description": "공시년도",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getRegionalFreshmanChanceBalanceSelectionRatio": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "indctFirstSchlCntRmk": {
                              "type": "string",
                              "description": "indctFirstSchlCnt 한글 설명",
                              "properties": {}
                            },
                            "indctSecondSchlCntRmk": {
                              "type": "string",
                              "description": "indctSecondSchlCnt 한글 설명",
                              "properties": {}
                            },
                            "indctThirdSchlCntRmk": {
                              "type": "string",
                              "description": "indctThirdSchlCnt 한글 설명",
                              "properties": {}
                            },
                            "indctFirstSvyYr": {
                              "type": "string",
                              "description": "첫번째 공시년도",
                              "properties": {}
                            },
                            "indctSecondSvyYr": {
                              "type": "string",
                              "description": "두번째 공시년도",
                              "properties": {}
                            },
                            "indctThirdSvyYr": {
                              "type": "string",
                              "description": "세번째 공시년도",
                              "properties": {}
                            },
                            "znNmRmk": {
                              "type": "string",
                              "description": "znNm 한글 설명",
                              "properties": {}
                            },
                            "indctFirstSchlCnt": {
                              "type": "string",
                              "description": "첫번째 공시년도 학교 수",
                              "properties": {}
                            },
                            "indctSecondSchlCnt": {
                              "type": "string",
                              "description": "두번째 공시년도 학교 수",
                              "properties": {}
                            },
                            "indctThirdSchlCnt": {
                              "type": "string",
                              "description": "세번째 공시년도 학교 수",
                              "properties": {}
                            },
                            "indctFirstVal": {
                              "type": "string",
                              "description": "첫번째 공시년도 지표 값 (단위 : % )",
                              "properties": {}
                            },
                            "indctSecondVal": {
                              "type": "string",
                              "description": "두번째 공시년도 지표 값 (단위 : % )",
                              "properties": {}
                            },
                            "indctThirdVal": {
                              "type": "string",
                              "description": "세번째 공시년도 지표 값 (단위 : % )",
                              "properties": {}
                            },
                            "znNm": {
                              "type": "string",
                              "description": "지역 이름",
                              "properties": {}
                            },
                            "indctId": {
                              "type": "string",
                              "description": "지표아이디",
                              "properties": {}
                            },
                            "schlDivCd": {
                              "type": "string",
                              "description": "학교구분",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "신입생 기회균형 선발 비율_지역별통계",
        "description": "학교구분을 기준으로 학교구분, 지역 이름, 신입생 기회균형 선발 비율 등을 제공하는 신입생 기회균형 선발 비율 조회 서비스",
        "operationId": "getRegionalFreshmanChanceBalanceSelectionRatio",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "schlDivCd",
          "description": "학교구분",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getComparisonFreshmanEnsureCrntSt": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "indctId": {
                              "type": "string",
                              "description": "지표아이디",
                              "properties": {}
                            },
                            "indctVal1": {
                              "type": "string",
                              "description": "지표값",
                              "properties": {}
                            },
                            "schlDivNm": {
                              "type": "string",
                              "description": "학교종류",
                              "properties": {}
                            },
                            "schlEstbNm": {
                              "type": "string",
                              "description": "설립구분",
                              "properties": {}
                            },
                            "schlId": {
                              "type": "string",
                              "description": "학교아이디",
                              "properties": {}
                            },
                            "schlKrnNm": {
                              "type": "string",
                              "description": "학교한글명",
                              "properties": {}
                            },
                            "svyYr": {
                              "type": "string",
                              "description": "공시년도",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "신입생 충원 현황 조회_대학비교통계",
        "description": "신입생 충원 현황 정보 제공 (저작권에 위배되지 않는 정보)",
        "operationId": "getComparisonFreshmanEnsureCrntSt",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "schlId",
          "description": "학교아이디",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "svyYr",
          "description": "공시년도",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getRegionalFreshmanEnsureCrntSt": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "fieldType1": {
                              "type": "string",
                              "description": "fieldVal1의 항목의미",
                              "properties": {}
                            },
                            "fieldType2": {
                              "type": "string",
                              "description": "fieldVal2의 항목의미",
                              "properties": {}
                            },
                            "fieldType3": {
                              "type": "string",
                              "description": "fieldVal3의 항목의미",
                              "properties": {}
                            },
                            "fieldType4": {
                              "type": "string",
                              "description": "fieldVal4의 항목의미",
                              "properties": {}
                            },
                            "fieldType5": {
                              "type": "string",
                              "description": "fieldVal5의 항목의미",
                              "properties": {}
                            },
                            "fieldType6": {
                              "type": "string",
                              "description": "fieldVal6의 항목의미",
                              "properties": {}
                            },
                            "fieldType7": {
                              "type": "string",
                              "description": "fieldVal7의 항목의미",
                              "properties": {}
                            },
                            "fieldVal1": {
                              "type": "string",
                              "description": "fieldVal1의 지표값",
                              "properties": {}
                            },
                            "fieldVal2": {
                              "type": "string",
                              "description": "fieldVal2의 지표값",
                              "properties": {}
                            },
                            "fieldVal3": {
                              "type": "string",
                              "description": "fieldVal3의 지표값",
                              "properties": {}
                            },
                            "fieldVal4": {
                              "type": "string",
                              "description": "fieldVal4의 지표값",
                              "properties": {}
                            },
                            "fieldVal5": {
                              "type": "string",
                              "description": "fieldVal5의 지표값",
                              "properties": {}
                            },
                            "fieldVal6": {
                              "type": "string",
                              "description": "fieldVal6의 지표값",
                              "properties": {}
                            },
                            "fieldVal7": {
                              "type": "string",
                              "description": "fieldVal7의 지표값",
                              "properties": {}
                            },
                            "indctId": {
                              "type": "string",
                              "description": "지표아이디",
                              "properties": {}
                            },
                            "schlDivCd": {
                              "type": "string",
                              "description": "학교구분",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "신입생 충원 현황 조회_지역별통계",
        "description": "신입생 충원 현황 정보 제공 (저작권에 위배되지 않는 정보)",
        "operationId": "getRegionalFreshmanEnsureCrntSt",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "schlDivCd",
          "description": "학교구분",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getNoticeFreshmanDrafteesRate": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "schlId": {
                              "type": "string",
                              "description": "학교아이디",
                              "properties": {}
                            },
                            "schlKrnNm": {
                              "type": "string",
                              "description": "학교한글명",
                              "properties": {}
                            },
                            "indctVal1": {
                              "type": "string",
                              "description": "정원내 모집인원",
                              "properties": {}
                            },
                            "indctVal2": {
                              "type": "string",
                              "description": "정원내 입학자",
                              "properties": {}
                            },
                            "indctVal4": {
                              "type": "string",
                              "description": "정원내 신입생 충원율",
                              "properties": {}
                            },
                            "indctAvg": {
                              "type": "string",
                              "description": "평균",
                              "properties": {}
                            },
                            "indctImg": {
                              "type": "string",
                              "description": "랭크(별)",
                              "properties": {}
                            },
                            "svyYr": {
                              "type": "string",
                              "description": "공시년도",
                              "properties": {}
                            },
                            "indctId": {
                              "type": "string",
                              "description": "지표아이디",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "신입생 충원율 조회_우리대학경쟁력",
        "description": "신입생충원율 정보 제공 (저작권에 위배되지 않는 정보)",
        "operationId": "getNoticeFreshmanDrafteesRate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "svyYr",
          "description": "공시년도",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "schlId",
          "description": "학교아이디",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getComparisonForeignDropOutCrntSt": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "indctId": {
                              "type": "string",
                              "description": "지표아이디",
                              "properties": {}
                            },
                            "indctVal1": {
                              "type": "string",
                              "description": "지표값",
                              "properties": {}
                            },
                            "schlDivNm": {
                              "type": "string",
                              "description": "학교종류",
                              "properties": {}
                            },
                            "schlEstbNm": {
                              "type": "string",
                              "description": "설립구분",
                              "properties": {}
                            },
                            "schlId": {
                              "type": "string",
                              "description": "학교아이디",
                              "properties": {}
                            },
                            "schlKrnNm": {
                              "type": "string",
                              "description": "학교한글명",
                              "properties": {}
                            },
                            "svyYr": {
                              "type": "string",
                              "description": "공시년도",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "외국인 중도탈락 학생 현황 조회_대학비교통계",
        "description": "외국인 중도탈락 학생 현황 정보 제공 (저작권에 위배되지 않는 정보)",
        "operationId": "getComparisonForeignDropOutCrntSt",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "schlId",
          "description": "학교아이디",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "svyYr",
          "description": "공시년도",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getRegionalForeignDropOutCrntSt": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "fieldType1": {
                              "type": "string",
                              "description": "fieldVal1의 항목의미",
                              "properties": {}
                            },
                            "fieldType2": {
                              "type": "string",
                              "description": "fieldVal2의 항목의미",
                              "properties": {}
                            },
                            "fieldType3": {
                              "type": "string",
                              "description": "fieldVal3의 항목의미",
                              "properties": {}
                            },
                            "fieldType4": {
                              "type": "string",
                              "description": "fieldVal4의 항목의미",
                              "properties": {}
                            },
                            "fieldType5": {
                              "type": "string",
                              "description": "fieldVal5의 항목의미",
                              "properties": {}
                            },
                            "fieldType6": {
                              "type": "string",
                              "description": "fieldVal6의 항목의미",
                              "properties": {}
                            },
                            "fieldType7": {
                              "type": "string",
                              "description": "fieldVal7의 항목의미",
                              "properties": {}
                            },
                            "fieldVal1": {
                              "type": "string",
                              "description": "fieldVal1의 지표값",
                              "properties": {}
                            },
                            "fieldVal2": {
                              "type": "string",
                              "description": "fieldVal2의 지표값",
                              "properties": {}
                            },
                            "fieldVal3": {
                              "type": "string",
                              "description": "fieldVal3의 지표값",
                              "properties": {}
                            },
                            "fieldVal4": {
                              "type": "string",
                              "description": "fieldVal4의 지표값",
                              "properties": {}
                            },
                            "fieldVal5": {
                              "type": "string",
                              "description": "fieldVal5의 지표값",
                              "properties": {}
                            },
                            "fieldVal6": {
                              "type": "string",
                              "description": "fieldVal6의 지표값",
                              "properties": {}
                            },
                            "fieldVal7": {
                              "type": "string",
                              "description": "fieldVal7의 지표값",
                              "properties": {}
                            },
                            "indctId": {
                              "type": "string",
                              "description": "지표아이디",
                              "properties": {}
                            },
                            "schlDivCd": {
                              "type": "string",
                              "description": "학교구분",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "외국인 중도탈락 학생 현황 조회_지역별통계",
        "description": "외국인 중도탈락 학생 현황 정보 제공 (저작권에 위배되지 않는 정보)",
        "operationId": "getRegionalForeignDropOutCrntSt",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "schlDivCd",
          "description": "학교구분",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getComparisonForeignStudentCrntSt": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "indctId": {
                              "type": "string",
                              "description": "지표아이디",
                              "properties": {}
                            },
                            "indctVal1": {
                              "type": "string",
                              "description": "지표값",
                              "properties": {}
                            },
                            "indctYr": {
                              "type": "string",
                              "description": "지표아이디 (해당년도)",
                              "properties": {}
                            },
                            "schlDivNm": {
                              "type": "string",
                              "description": "학교종류",
                              "properties": {}
                            },
                            "schlEstbNm": {
                              "type": "string",
                              "description": "설립구분",
                              "properties": {}
                            },
                            "schlId": {
                              "type": "string",
                              "description": "학교아이디",
                              "properties": {}
                            },
                            "schlKrnNm": {
                              "type": "string",
                              "description": "학교한글명",
                              "properties": {}
                            },
                            "svyYr": {
                              "type": "string",
                              "description": "공시년도",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "외국인 학생 현황 조회_대학비교통계",
        "description": "외국인 학생 현황 정보 제공 (저작권에 위배되지 않는 정보)",
        "operationId": "getComparisonForeignStudentCrntSt",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "schlId",
          "description": "학교아이디",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "svyYr",
          "description": "공시년도",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getRegionalForeignStudentCrntSt": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "fieldType1": {
                              "type": "string",
                              "description": "fieldVal1의 항목의미",
                              "properties": {}
                            },
                            "fieldType2": {
                              "type": "string",
                              "description": "fieldVal2의 항목의미",
                              "properties": {}
                            },
                            "fieldType3": {
                              "type": "string",
                              "description": "fieldVal3의 항목의미",
                              "properties": {}
                            },
                            "fieldType4": {
                              "type": "string",
                              "description": "fieldVal4의 항목의미",
                              "properties": {}
                            },
                            "fieldType5": {
                              "type": "string",
                              "description": "fieldVal5의 항목의미",
                              "properties": {}
                            },
                            "fieldType6": {
                              "type": "string",
                              "description": "fieldVal6의 항목의미",
                              "properties": {}
                            },
                            "fieldType7": {
                              "type": "string",
                              "description": "fieldVal7의 항목의미",
                              "properties": {}
                            },
                            "fieldVal1": {
                              "type": "string",
                              "description": "fieldVal1의 지표값",
                              "properties": {}
                            },
                            "fieldVal2": {
                              "type": "string",
                              "description": "fieldVal2의 지표값",
                              "properties": {}
                            },
                            "fieldVal3": {
                              "type": "string",
                              "description": "fieldVal3의 지표값",
                              "properties": {}
                            },
                            "fieldVal4": {
                              "type": "string",
                              "description": "fieldVal4의 지표값",
                              "properties": {}
                            },
                            "fieldVal5": {
                              "type": "string",
                              "description": "fieldVal5의 지표값",
                              "properties": {}
                            },
                            "fieldVal6": {
                              "type": "string",
                              "description": "fieldVal6의 지표값",
                              "properties": {}
                            },
                            "fieldVal7": {
                              "type": "string",
                              "description": "fieldVal7의 지표값",
                              "properties": {}
                            },
                            "indctId": {
                              "type": "string",
                              "description": "지표아이디",
                              "properties": {}
                            },
                            "schlDivCd": {
                              "type": "string",
                              "description": "학교구분",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "외국인 학생 현황 조회_지역별통계",
        "description": "외국인 학생 현황 정보 제공 (저작권에 위배되지 않는 정보)",
        "operationId": "getRegionalForeignStudentCrntSt",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "schlDivCd",
          "description": "학교구분",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getComparisonEntranceModelLastRegistrationRatio": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "indctId": {
                              "type": "string",
                              "description": "지표아이디",
                              "properties": {}
                            },
                            "indctVal1": {
                              "type": "string",
                              "description": "지표값 (단위 : %)",
                              "properties": {}
                            },
                            "indctYr": {
                              "type": "string",
                              "description": "지표아이디 (해당년도)",
                              "properties": {}
                            },
                            "schlDivNm": {
                              "type": "string",
                              "description": "학교종류",
                              "properties": {}
                            },
                            "schlEstbNm": {
                              "type": "string",
                              "description": "설립구분",
                              "properties": {}
                            },
                            "schlId": {
                              "type": "string",
                              "description": "학교아이디",
                              "properties": {}
                            },
                            "schlKrnNm": {
                              "type": "string",
                              "description": "학교한글명",
                              "properties": {}
                            },
                            "svyYr": {
                              "type": "string",
                              "description": "공시년도",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "입학전형 최종 등록률_대학비교통계",
        "description": "공시년도, 학교아이디등을 기준으로 학교종류, 설립구분, 입학전형 최종 등록률등을 제공하는 입학전형 최종 등록률 조회 서비스",
        "operationId": "getComparisonEntranceModelLastRegistrationRatio",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "schlId",
          "description": "학교아이디",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "svyYr",
          "description": "공시년도",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getRegionalEntranceModelLastRegistrationRatio": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "indctFirstSchlCntRmk": {
                              "type": "string",
                              "description": "indctFirstSchlCnt 한글 설명",
                              "properties": {}
                            },
                            "indctSecondSchlCntRmk": {
                              "type": "string",
                              "description": "indctSecondSchlCnt 한글 설명",
                              "properties": {}
                            },
                            "indctThirdSchlCntRmk": {
                              "type": "string",
                              "description": "indctThirdSchlCnt 한글 설명",
                              "properties": {}
                            },
                            "indctFirstSvyYr": {
                              "type": "string",
                              "description": "첫번째 공시년도",
                              "properties": {}
                            },
                            "indctSecondSvyYr": {
                              "type": "string",
                              "description": "두번째 공시년도",
                              "properties": {}
                            },
                            "indctThirdSvyYr": {
                              "type": "string",
                              "description": "세번째 공시년도",
                              "properties": {}
                            },
                            "znNmRmk": {
                              "type": "string",
                              "description": "znNm 한글 설명",
                              "properties": {}
                            },
                            "indctFirstSchlCnt": {
                              "type": "string",
                              "description": "첫번째 공시년도 학교 수",
                              "properties": {}
                            },
                            "indctSecondSchlCnt": {
                              "type": "string",
                              "description": "두번째 공시년도 학교 수",
                              "properties": {}
                            },
                            "indctThirdSchlCnt": {
                              "type": "string",
                              "description": "세번째 공시년도 학교 수",
                              "properties": {}
                            },
                            "indctFirstVal": {
                              "type": "string",
                              "description": "첫번째 공시년도 지표 값 (단위 : %)",
                              "properties": {}
                            },
                            "indctSecondVal": {
                              "type": "string",
                              "description": "두번째 공시년도 지표 값 (단위 : %)",
                              "properties": {}
                            },
                            "indctThirdVal": {
                              "type": "string",
                              "description": "세번째 공시년도 지표 값 (단위 : %)",
                              "properties": {}
                            },
                            "znNm": {
                              "type": "string",
                              "description": "지역 이름",
                              "properties": {}
                            },
                            "indctId": {
                              "type": "string",
                              "description": "지표아이디",
                              "properties": {}
                            },
                            "schlDivCd": {
                              "type": "string",
                              "description": "학교구분",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "입학전형 최종 등록률_지역별통계",
        "description": "학교구분을 기준으로 학교구분, 지역 이름, 입학전형 최종 등록률 등을 제공하는 입학전형 최종 등록률 조회 서비스",
        "operationId": "getRegionalEntranceModelLastRegistrationRatio",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "schlDivCd",
          "description": "학교구분",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getComparisonEnrolledStudentCrntSt": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "indctId": {
                              "type": "string",
                              "description": "지표아이디",
                              "properties": {}
                            },
                            "indctVal1": {
                              "type": "string",
                              "description": "지표값",
                              "properties": {}
                            },
                            "schlDivNm": {
                              "type": "string",
                              "description": "학교종류",
                              "properties": {}
                            },
                            "schlEstbNm": {
                              "type": "string",
                              "description": "설립구분",
                              "properties": {}
                            },
                            "schlId": {
                              "type": "string",
                              "description": "학교아이디",
                              "properties": {}
                            },
                            "schlKrnNm": {
                              "type": "string",
                              "description": "학교한글명",
                              "properties": {}
                            },
                            "svyYr": {
                              "type": "string",
                              "description": "공시년도",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "재적학생 현황 조회_대학비교통계",
        "description": "재적학생 현황 정보 제공 (저작권에 위배되지 않는 정보)",
        "operationId": "getComparisonEnrolledStudentCrntSt",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "schlId",
          "description": "학교아이디",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "svyYr",
          "description": "공시년도",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getRegionalEnrolledStudentCrntSt": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "fieldType1": {
                              "type": "string",
                              "description": "fieldVal1의 항목의미",
                              "properties": {}
                            },
                            "fieldType2": {
                              "type": "string",
                              "description": "fieldVal2의 항목의미",
                              "properties": {}
                            },
                            "fieldType3": {
                              "type": "string",
                              "description": "fieldVal3의 항목의미",
                              "properties": {}
                            },
                            "fieldType4": {
                              "type": "string",
                              "description": "fieldVal4의 항목의미",
                              "properties": {}
                            },
                            "fieldType5": {
                              "type": "string",
                              "description": "fieldVal5의 항목의미",
                              "properties": {}
                            },
                            "fieldType6": {
                              "type": "string",
                              "description": "fieldVal6의 항목의미",
                              "properties": {}
                            },
                            "fieldType7": {
                              "type": "string",
                              "description": "fieldVal7의 항목의미",
                              "properties": {}
                            },
                            "fieldVal1": {
                              "type": "string",
                              "description": "fieldVal1의 지표값",
                              "properties": {}
                            },
                            "fieldVal2": {
                              "type": "string",
                              "description": "fieldVal2의 지표값",
                              "properties": {}
                            },
                            "fieldVal3": {
                              "type": "string",
                              "description": "fieldVal3의 지표값",
                              "properties": {}
                            },
                            "fieldVal4": {
                              "type": "string",
                              "description": "fieldVal4의 지표값",
                              "properties": {}
                            },
                            "fieldVal5": {
                              "type": "string",
                              "description": "fieldVal5의 지표값",
                              "properties": {}
                            },
                            "fieldVal6": {
                              "type": "string",
                              "description": "fieldVal6의 지표값",
                              "properties": {}
                            },
                            "fieldVal7": {
                              "type": "string",
                              "description": "fieldVal7의 지표값",
                              "properties": {}
                            },
                            "indctId": {
                              "type": "string",
                              "description": "지표아이디",
                              "properties": {}
                            },
                            "schlDivCd": {
                              "type": "string",
                              "description": "학교구분",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "재적학생 현황 조회_지역별통계",
        "description": "재적학생 현황 조회 정보 제공 (저작권에 위배되지 않는 정보)",
        "operationId": "getRegionalEnrolledStudentCrntSt",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "schlDivCd",
          "description": "학교구분",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getNoticeEnrolledStudentDrafteesRate": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "schlId": {
                              "type": "string",
                              "description": "학교아이디",
                              "properties": {}
                            },
                            "schlKrnNm": {
                              "type": "string",
                              "description": "학교한글명",
                              "properties": {}
                            },
                            "indctVal1": {
                              "type": "string",
                              "description": "학생정원",
                              "properties": {}
                            },
                            "indctVal2": {
                              "type": "string",
                              "description": "재학생수",
                              "properties": {}
                            },
                            "indctVal3": {
                              "type": "string",
                              "description": "학생모집정지인원",
                              "properties": {}
                            },
                            "indctVal4": {
                              "type": "string",
                              "description": "재학생충원율(%)",
                              "properties": {}
                            },
                            "indctAvg": {
                              "type": "string",
                              "description": "평균",
                              "properties": {}
                            },
                            "indctImg": {
                              "type": "string",
                              "description": "랭크(별)",
                              "properties": {}
                            },
                            "svyYr": {
                              "type": "string",
                              "description": "공시년도",
                              "properties": {}
                            },
                            "indctId": {
                              "type": "string",
                              "description": "지표아이디",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "재학생 충원율 조회_우리대학경쟁력",
        "description": "재학생충원율 정보 제공(저작권에 위배되지 않는 정보)",
        "operationId": "getNoticeEnrolledStudentDrafteesRate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "svyYr",
          "description": "공시년도",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "schlId",
          "description": "학교아이디",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getComparisonEnrolledStudentEnsureRate": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "indctId": {
                              "type": "string",
                              "description": "지표아이디",
                              "properties": {}
                            },
                            "indctVal1": {
                              "type": "string",
                              "description": "지표값 (단위 : %)",
                              "properties": {}
                            },
                            "indctYr": {
                              "type": "string",
                              "description": "지표아이디 (해당년도)",
                              "properties": {}
                            },
                            "schlDivNm": {
                              "type": "string",
                              "description": "학교종류",
                              "properties": {}
                            },
                            "schlEstbNm": {
                              "type": "string",
                              "description": "설립구분",
                              "properties": {}
                            },
                            "schlId": {
                              "type": "string",
                              "description": "학교아이디",
                              "properties": {}
                            },
                            "schlKrnNm": {
                              "type": "string",
                              "description": "학교한글명",
                              "properties": {}
                            },
                            "svyYr": {
                              "type": "string",
                              "description": "공시년도",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "재학생 충원율_대학비교통계",
        "description": "공시년도,학교아이디를 기준으로 학교종류, 설립구분, 재학생 충원율 등을 제공하는 재학생 충원율 조회 서비스",
        "operationId": "getComparisonEnrolledStudentEnsureRate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "schlId",
          "description": "학교아이디",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "svyYr",
          "description": "공시년도",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getRegionalEnrolledStudentEnsureRate": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "indctFirstSchlCntRmk": {
                              "type": "string",
                              "description": "indctFirstSchlCnt 한글 설명",
                              "properties": {}
                            },
                            "indctSecondSchlCntRmk": {
                              "type": "string",
                              "description": "indctSecondSchlCnt 한글 설명",
                              "properties": {}
                            },
                            "indctThirdSchlCntRmk": {
                              "type": "string",
                              "description": "indctThirdSchlCnt 한글 설명",
                              "properties": {}
                            },
                            "indctFirstSvyYr": {
                              "type": "string",
                              "description": "첫번째 공시년도",
                              "properties": {}
                            },
                            "indctSecondSvyYr": {
                              "type": "string",
                              "description": "두번째 공시년도",
                              "properties": {}
                            },
                            "indctThirdSvyYr": {
                              "type": "string",
                              "description": "세번째 공시년도",
                              "properties": {}
                            },
                            "znNmRmk": {
                              "type": "string",
                              "description": "znNm 한글 설명",
                              "properties": {}
                            },
                            "indctFirstSchlCnt": {
                              "type": "string",
                              "description": "첫번째 공시년도 학교 수",
                              "properties": {}
                            },
                            "indctSecondSchlCnt": {
                              "type": "string",
                              "description": "두번째 공시년도 학교 수",
                              "properties": {}
                            },
                            "indctThirdSchlCnt": {
                              "type": "string",
                              "description": "세번째 공시년도 학교 수",
                              "properties": {}
                            },
                            "indctFirstVal": {
                              "type": "string",
                              "description": "첫번째 공시년도 지표 값 (단위 : %)",
                              "properties": {}
                            },
                            "indctSecondVal": {
                              "type": "string",
                              "description": "두번째 공시년도 지표 값 (단위 : %)",
                              "properties": {}
                            },
                            "indctThirdVal": {
                              "type": "string",
                              "description": "세번째 공시년도 지표 값 (단위 : %)",
                              "properties": {}
                            },
                            "znNm": {
                              "type": "string",
                              "description": "지역 이름",
                              "properties": {}
                            },
                            "indctId": {
                              "type": "string",
                              "description": "지표아이디",
                              "properties": {}
                            },
                            "schlDivCd": {
                              "type": "string",
                              "description": "학교구분",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "재학생 충원율_지역별통계",
        "description": "학교구분을 기준으로 학교구분, 지역 이름, 재학생 충원율 등을 제공하는 재학생 충원율 조회 서비스",
        "operationId": "getRegionalEnrolledStudentEnsureRate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "schlDivCd",
          "description": "학교구분",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getComparisonEnrolledStudent": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "indctId": {
                              "type": "string",
                              "description": "지표아이디",
                              "properties": {}
                            },
                            "indctVal1": {
                              "type": "string",
                              "description": "지표값 (단위 : 명)",
                              "properties": {}
                            },
                            "indctYr": {
                              "type": "string",
                              "description": "지표아이디 (해당년도)",
                              "properties": {}
                            },
                            "schlDivNm": {
                              "type": "string",
                              "description": "학교종류",
                              "properties": {}
                            },
                            "schlEstbNm": {
                              "type": "string",
                              "description": "설립구분",
                              "properties": {}
                            },
                            "schlId": {
                              "type": "string",
                              "description": "학교아이디",
                              "properties": {}
                            },
                            "schlKrnNm": {
                              "type": "string",
                              "description": "학교한글명",
                              "properties": {}
                            },
                            "svyYr": {
                              "type": "string",
                              "description": "공시년도",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "재학생_대학비교통계",
        "description": "공시년도,학교아이디를 기준으로 학교종류, 설립구분, 재학생 수 등을 제공하는 재학생 조회 서비스",
        "operationId": "getComparisonEnrolledStudent",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
[...]
