{
  "swagger": "2.0",
  "info": {
    "description": "관광, 친지방문 등의 목적으로 입국하여 90일 이내에서 단기간 국내 체류하는 단기체류외국인 및 등록외국인과 외국국적동포 국내거소신고자를 포함하는 장기체류 외국인의 국적(지역)별 현황을 월별로 제공\\n장단기체류외국인, 즉 체류외국인 전체의 국적(지역)별 현황입니다.\\n\\n원본 데이터는 출입국외국인정책본부 홈페이지의 통계월보에서 확인하실 수 있으며 경로는 아래와 같습니다.\\nhttps://www.immigration.go.kr/immigration/1569/subview.do?enc=Zm5jdDF8QEB8JTJGYmJzJTJGaW1taWdyYXRpb24lMkYyMjclMkY1OTU0MjYlMkZhcnRjbFZpZXcuZG8lM0ZwYXNzd29yZCUzRCUyNnJnc0JnbmRlU3RyJTNEJTI2YmJzQ2xTZXElM0QlMjZyZ3NFbmRkZVN0ciUzRCUyNmlzVmlld01pbmUlM0RmYWxzZSUyNnBhZ2UlM0QxJTI2YmJzT3BlbldyZFNlcSUzRCUyNnNyY2hDb2x1bW4lM0QlMjZzcmNoV3JkJTNEJTI2",
    "version": "1.0.0",
    "title": "법무부_장단기체류외국인 국적(지역)별 체류외국인 현황 조회서비스"
  },
  "host": "apis.data.go.kr/1270000/person_countryApi",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getpersoncountry": {
      "get": {
        "responses": {
          "2": {
            "description": "Failed - ServiceKey Empty - 인증키 값이 없는 경우"
          },
          "3": {
            "description": "Failed - ServiceKey Invalid - 인증키 값이 올바르지 않는 경우"
          },
          "5": {
            "description": "Failed - No more Data - 조회데이터가 없는 경우"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "year": {
                              "type": "string",
                              "description": "요청 데이터 연도(YYYY)",
                              "properties": {}
                            },
                            "month": {
                              "type": "string",
                              "description": "요청 데이터 월(1-12)",
                              "properties": {}
                            },
                            "country": {
                              "type": "string",
                              "description": "체류외국인 국적",
                              "properties": {}
                            },
                            "personCount": {
                              "type": "string",
                              "description": "체류외국인 수",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "number",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "number",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "number",
                      "description": "전체 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "장단기체류외국인 국적(지역)별 체류외국인 현황",
        "description": "장단기체류외국인 월별 국적(지역)별 체류외국인 현황 API",
        "operationId": "getpersoncountry",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "number",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "number",
          "required": true,
          "in": "query"
        },
        {
          "name": "year",
          "description": "요청 데이터 연도(YYYY)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "month",
          "description": "요청 데이터 월(1-12)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "getpersoncountry_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "year": {
                      "type": "string",
                      "description": "요청 데이터 연도(YYYY)"
                    },
                    "month": {
                      "type": "string",
                      "description": "요청 데이터 월(1-12)"
                    },
                    "country": {
                      "type": "string",
                      "description": "체류외국인 국적"
                    },
                    "personCount": {
                      "type": "string",
                      "description": "체류외국인 수"
                    }
                  }
                }
              }
            },
            "numOfRows": {
              "type": "number",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "number",
              "description": "페이지번호"
            },
            "totalCount": {
              "type": "number",
              "description": "전체 결과 수"
            }
          }
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://www.moj.go.kr/purchasesgoodsApi/person_country",
      "oprtinNm": "장단기체류외국인 국적(지역)별 체류외국인 현황",
      "oprtinDc": "장단기체류외국인 월별 국적(지역)별 체류외국인 현황 API",
      "gwSvcNm": "getpersoncountry",
      "operationId": "getpersoncountry",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrBassValue": "-",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "pageNo",
          "paramtrDc": "페이지번호",
          "paramtrBassValue": "1",
          "paramtrTy": "number",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "numOfRows",
          "paramtrDc": "한 페이지 결과 수",
          "paramtrBassValue": "10",
          "paramtrTy": "number",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "year",
          "paramtrDc": "요청 데이터 연도(YYYY)",
          "paramtrBassValue": "2022",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "month",
          "paramtrDc": "요청 데이터 월(1-12)",
          "paramtrBassValue": "1",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/oper-1-header",
          "subDefNm": "oper-1-header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "resultCode",
              "paramtrDc": "결과코드",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "resultMsg",
              "paramtrDc": "결과메세지",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/oper-1-body",
          "subDefNm": "oper-1-body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "items",
              "paramtrDc": "items",
              "arrayYn": "N",
              "paramtrDefNm": "#/definitions/oper-1-items",
              "subDefNm": "oper-1-items",
              "paramtrTy": "object",
              "paramtrDivision": "필수",
              "ck": true,
              "subParam": [
                {
                  "paramtrNm": "item",
                  "paramtrDc": "item",
                  "arrayYn": "N",
                  "paramtrDefNm": "#/definitions/oper-1-item",
                  "subDefNm": "oper-1-item",
                  "paramtrTy": "object",
                  "paramtrDivision": "필수",
                  "ck": true,
                  "subParam": [
                    {
                      "paramtrNm": "year",
                      "paramtrDc": "요청 데이터 연도(YYYY)",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "month",
                      "paramtrDc": "요청 데이터 월(1-12)",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "country",
                      "paramtrDc": "체류외국인 국적",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "personCount",
                      "paramtrDc": "체류외국인 수",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    }
                  ]
                }
              ]
            },
            {
              "paramtrNm": "numOfRows",
              "paramtrDc": "한 페이지 결과 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "number",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "pageNo",
              "paramtrDc": "페이지번호",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "number",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "totalCount",
              "paramtrDc": "전체 결과 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "number",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        }
      ]
    }
  ]
}