{
  "swagger": "2.0",
  "info": {
    "description": "국립중앙도서관에서 제공하는 서지 정보 제공 서비스는 국내외 학술 및 지식 정보 자원의 체계적인 통합과 효율적 이용을 위해 구축된 핵심 서지 메타데이터입니다. 본 서비스는 개발자 및 이용자가 다양한 유형의 지식 자원에 대한 정확한 정보를 표준화된 형태로 활용할 수 있도록 지원하며, 특히 Dublin Core, BIBO(Bibliographic Ontology) 등의 온톨로지로 구성된 국가서지 LOD(Linked Open Data) 데이터를 기반으로 제공합니다. \\n제공되는 서비스는 국립중앙도서관의 메타데이터 입력 형식에 따라 크게 MARC(Machine-Readable Cataloging) 기반의 오프라인 자료와 MODS(Metadata Object Description Schema) 기반의 온라인 자료로 구분됩니다. MARC 기반의 오프라인 자료는 단행본, 연속간행물, 학위논문, 고문헌 등 인쇄 자료와 더불어 녹음자료, 시청각자료, 악보 등 물리적 또는 비도서 형태를 포괄합니다. 반면, MODS 기반의 온라인 자료는 전자책, 전자저널, 동영상, 이미지, 사운드, 웹사이트 등 디지털 형태의 콘텐츠를 대상으로 합니다.\\n제공되는 서지 정보는 단순 목록을 넘어, 저자 정보와 주제 정보가 각각 저작 관계 및 주제 관계로 유기적으로 연결되어 있습니다. 이로써 이용자는 특정 저자의 다른 저작물을 찾거나 주제별 연관 자료를 확장 탐색하는 등 심도 있는 정보 활용이 가능합니다. 개발자는 이처럼 표준화된 LOD 기반의 서지 메타데이터를 활용하여 검색 시스템, 추천 서비스 등 다양한 응용 서비스를 개발할 수 있으며, 이는 국내 지식 정보 자원의 상호운용성을 높이고 학술 연구 활동 증진에 크게 기여할 것으로 기대됩니다.",
    "version": "1.0.0",
    "title": "문화체육관광부 국립중앙도서관_서지 정보 제공 서비스"
  },
  "host": "apis.data.go.kr/1371029/BookInformationService_v2",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getElectronicJournalList_v2": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "numOfRows": {
                      "type": "string",
                      "description": "목록 건수",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "총 개수\\t",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지 번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "DCTERMS_title": {
                              "type": "string",
                              "description": "제목",
                              "properties": {}
                            },
                            "NLON_titleOfOtherEdition": {
                              "type": "string",
                              "description": "이판저록표제",
                              "properties": {}
                            },
                            "BIBLIO_ID": {
                              "type": "string",
                              "description": "국립중앙도서관제어번호_서지",
                              "properties": {}
                            },
                            "URI": {
                              "type": "string",
                              "description": "URI",
                              "properties": {}
                            },
                            "RDFS_label": {
                              "type": "string",
                              "description": "라벨",
                              "properties": {}
                            },
                            "NLON_titleOfAdditionalPhysicalForm": {
                              "type": "string",
                              "description": "기타형태저록표제",
                              "properties": {}
                            },
                            "DCTERMS_accessRights": {
                              "type": "string",
                              "description": "접근제한유형",
                              "properties": {}
                            },
                            "NLON_locationNote": {
                              "type": "string",
                              "description": "소재주기",
                              "properties": {}
                            },
                            "NLON_dateOfPublicationSequentialDesignation": {
                              "type": "string",
                              "description": "권연차또는발행년표시",
                              "properties": {}
                            },
                            "BIBO_edition": {
                              "type": "string",
                              "description": "판사항",
                              "properties": {}
                            },
                            "DC_coverage": {
                              "type": "string",
                              "description": "시공간적범위",
                              "properties": {}
                            },
                            "NLON_abbreviatedTitle": {
                              "type": "string",
                              "description": "축약표제",
                              "properties": {}
                            },
                            "NLON_titleOfOriginalLanguage": {
                              "type": "string",
                              "description": "원저저록표제",
                              "properties": {}
                            },
                            "BIBO_shortTitle": {
                              "type": "string",
                              "description": "단축표제",
                              "properties": {}
                            },
                            "DCTERMS_requires": {
                              "type": "string",
                              "description": "시스템사항에관한주기",
                              "properties": {}
                            },
                            "NLON_preceding": {
                              "type": "string",
                              "description": "선행저록",
                              "properties": {}
                            },
                            "NLON_succeeding": {
                              "type": "string",
                              "description": "후속저록",
                              "properties": {}
                            },
                            "NLON_series": {
                              "type": "string",
                              "description": "총서관계",
                              "properties": {}
                            },
                            "NLON_supplementTo": {
                              "type": "string",
                              "description": "모체레코드저록",
                              "properties": {}
                            },
                            "DC_format": {
                              "type": "string",
                              "description": "자료형식",
                              "properties": {}
                            },
                            "NLON_volumeOfSeries": {
                              "type": "string",
                              "description": "총서번호",
                              "properties": {}
                            },
                            "NLON_publicationPlace": {
                              "type": "string",
                              "description": "발행지",
                              "properties": {}
                            },
                            "NLON_datePublished": {
                              "type": "string",
                              "description": "데이터발행일시",
                              "properties": {}
                            },
                            "NLON_restriction": {
                              "type": "string",
                              "description": "이용제한주기",
                              "properties": {}
                            },
                            "NLON_physicalFormAvailableNote": {
                              "type": "string",
                              "description": "이용가능한다른형태자료",
                              "properties": {}
                            },
                            "NLON_titleOfPreceding": {
                              "type": "string",
                              "description": "선행저록표제",
                              "properties": {}
                            },
                            "NLON_typeOfResource": {
                              "type": "string",
                              "description": "콘텐츠유형",
                              "properties": {}
                            },
                            "NLON_titleOfSucceeding": {
                              "type": "string",
                              "description": "후속저록표제",
                              "properties": {}
                            },
                            "DCTERMS_relation": {
                              "type": "string",
                              "description": "비특정적관계저록(제어번호연결)",
                              "properties": {}
                            },
                            "BIBO_translationOf": {
                              "type": "string",
                              "description": "번역저록의원본",
                              "properties": {}
                            },
                            "BIBO_doi": {
                              "type": "string",
                              "description": "DOI",
                              "properties": {}
                            },
                            "NLON_relatedNaturalAttraction": {
                              "type": "string",
                              "description": "관련관광자원",
                              "properties": {}
                            },
                            "NLON_uci": {
                              "type": "string",
                              "description": "UCI",
                              "properties": {}
                            },
                            "BIBO_degree": {
                              "type": "string",
                              "description": "학위논문의 종류",
                              "properties": {}
                            },
                            "BIBO_issn": {
                              "type": "string",
                              "description": "ISSN",
                              "properties": {}
                            },
                            "NLON_medium": {
                              "type": "string",
                              "description": "자료형태",
                              "properties": {}
                            },
                            "DCTERMS_issued": {
                              "type": "string",
                              "description": "발행일",
                              "properties": {}
                            },
                            "NLON_ddc": {
                              "type": "string",
                              "description": "듀이십진분류기호",
                              "properties": {}
                            },
                            "NLON_newsGenre": {
                              "type": "string",
                              "description": "기사장르",
                              "properties": {}
                            },
                            "NLON_gprn": {
                              "type": "string",
                              "description": "한국정부간행물발간등록번호",
                              "properties": {}
                            },
                            "NLON_citationReferenceNote": {
                              "type": "string",
                              "description": "인용참고주기",
                              "properties": {}
                            },
                            "DCTERMS_bibliographicCitation": {
                              "type": "string",
                              "description": "서지인용",
                              "properties": {}
                            },
                            "NLON_kdc": {
                              "type": "string",
                              "description": "한국십진분류기호",
                              "properties": {}
                            },
                            "NLON_antecedentSource": {
                              "type": "string",
                              "description": "원시자료의정보원",
                              "properties": {}
                            },
                            "BIBO_uri": {
                              "type": "string",
                              "description": "외부기관URI",
                              "properties": {}
                            },
                            "NLON_gpo": {
                              "type": "string",
                              "description": "미국정부간행물번호",
                              "properties": {}
                            },
                            "NLON_audienceNote": {
                              "type": "string",
                              "description": "이용대상자주기",
                              "properties": {}
                            },
                            "DCTERMS_tableOfContents": {
                              "type": "string",
                              "description": "목차",
                              "properties": {}
                            },
                            "OWL_sameAs": {
                              "type": "string",
                              "description": "동일개체",
                              "properties": {}
                            },
                            "DCTERMS_abstract": {
                              "type": "string",
                              "description": "초록",
                              "properties": {}
                            },
                            "DCTERMS_description": {
                              "type": "string",
                              "description": "설명",
                              "properties": {}
                            },
                            "RDFS_seeAlso": {
                              "type": "string",
                              "description": "참고링크",
                              "properties": {}
                            },
                            "DCTERMS_creator": {
                              "type": "string",
                              "description": "창작자",
                              "properties": {}
                            },
                            "NLON_titleOfConstituentUnit": {
                              "type": "string",
                              "description": "구성단위저록표제",
                              "properties": {}
                            },
                            "DCTERMS_subject": {
                              "type": "string",
                              "description": "주제",
                              "properties": {}
                            },
                            "BIBO_isbn": {
                              "type": "string",
                              "description": "ISBN",
                              "properties": {}
                            },
                            "DC_creator": {
                              "type": "string",
                              "description": "창작자이름",
                              "properties": {}
                            },
                            "NLON_keyword": {
                              "type": "string",
                              "description": "키워드",
                              "properties": {}
                            },
                            "DCTERMS_alternative": {
                              "type": "string",
                              "description": "대체제목",
                              "properties": {}
                            },
                            "DCTERMS_identifier": {
                              "type": "string",
                              "description": "식별자",
                              "properties": {}
                            },
                            "NLON_translatedAs": {
                              "type": "string",
                              "description": "번역저록",
                              "properties": {}
                            },
                            "NLON_exhibition": {
                              "type": "string",
                              "description": "전시주기",
                              "properties": {}
                            },
                            "NLON_hasSupplement": {
                              "type": "string",
                              "description": "보유판및특별호저록",
                              "properties": {}
                            },
                            "DCTERMS_language": {
                              "type": "string",
                              "description": "언어",
                              "properties": {}
                            },
                            "DCTERMS_hasFormat": {
                              "type": "string",
                              "description": "기타형태저록 ",
                              "properties": {}
                            },
                            "NLON_remainderOfTitle": {
                              "type": "string",
                              "description": "표제관련정보",
                              "properties": {}
                            },
                            "NLON_originalVersionNote": {
                              "type": "string",
                              "description": "원본주기",
                              "properties": {}
                            },
                            "NLON_holdingItemNote": {
                              "type": "string",
                              "description": "소장본주기",
                              "properties": {}
                            },
                            "NLON_titleOfSeries": {
                              "type": "string",
                              "description": "총서표제",
                              "properties": {}
                            },
                            "DC_publisher": {
                              "type": "string",
                              "description": "발행처",
                              "properties": {}
                            },
                            "NLON_languageNote": {
                              "type": "string",
                              "description": "언어주기",
                              "properties": {}
                            },
                            "DCTERMS_hasPart": {
                              "type": "string",
                              "description": "구성자료",
                              "properties": {}
                            },
                            "NLON_awardsNote": {
                              "type": "string",
                              "description": "수상주기",
                              "properties": {}
                            },
                            "NLON_bibliography": {
                              "type": "string",
                              "description": "서지등주기",
                              "properties": {}
                            },
                            "NLON_reproductionNote": {
                              "type": "string",
                              "description": "복제주기",
                              "properties": {}
                            },
                            "NLON_ddcn": {
                              "type": "string",
                              "description": "듀이십진분류기호(기타)",
                              "properties": {}
                            },
                            "NLON_kdcn": {
                              "type": "string",
                              "description": "한국십진분류(기타)",
                              "properties": {}
                            },
                            "NLON_numberingPeculiaritiesNote": {
                              "type": "string",
                              "description": "특수한권차표시주기",
                              "properties": {}
                            },
                            "NLON_titleOfHostItem": {
                              "type": "string",
                              "description": "기본자료표제",
                              "properties": {}
                            },
                            "DCTERMS_isPartOf": {
                              "type": "string",
                              "description": "상위자료",
                              "properties": {}
                            },
                            "BIBFRAME_extent": {
                              "type": "string",
                              "description": "형태사항",
                              "properties": {}
                            },
                            "NLON_holdingInstitution": {
                              "type": "string",
                              "description": "소장기관",
                              "properties": {}
                            },
                            "BIBO_volume": {
                              "type": "string",
                              "description": "권차/편차",
                              "properties": {}
                            },
                            "DC_relation": {
                              "type": "string",
                              "description": "비특정적관계저록",
                              "properties": {}
                            },
                            "NLON_relatedParts": {
                              "type": "string",
                              "description": "관련부분",
                              "properties": {}
                            },
                            "NLON_mainEntryHeading": {
                              "type": "string",
                              "description": "상위총서저록기본표목",
                              "properties": {}
                            },
                            "NLON_sourceOfInformation": {
                              "type": "string",
                              "description": "권연차연월차사항확인자료명",
                              "properties": {}
                            },
                            "NLON_titleOfMainSeries": {
                              "type": "string",
                              "description": "상위총서저록표제",
                              "properties": {}
                            },
                            "BIBO_abstract": {
                              "type": "string",
                              "description": "초록정보",
                              "properties": {}
                            },
                            "NLON_containedIn": {
                              "type": "string",
                              "description": "포함자료",
                              "properties": {}
                            },
                            "NLON_hasIssue": {
                              "type": "string",
                              "description": "개별호",
                              "properties": {}
                            },
                            "NLON_volumeOfNLK": {
                              "type": "string",
                              "description": "국립중앙도서관권연차기호",
                              "properties": {}
                            },
                            "NLON_typeOfData": {
                              "type": "string",
                              "description": "자료구분",
                              "properties": {}
                            },
                            "NLON_editionOfKDC": {
                              "type": "string",
                              "description": "한국십진분류판표시",
                              "properties": {}
                            },
                            "NLON_relatedPlace": {
                              "type": "string",
                              "description": "관련장소",
                              "properties": {}
                            },
                            "NLON_dateOfManufacture": {
                              "type": "string",
                              "description": "제작년또는인쇄년",
                              "properties": {}
                            },
                            "NLON_relatedOrganization": {
                              "type": "string",
                              "description": "관련단체",
                              "properties": {}
                            },
                            "NLON_relatedPerson": {
                              "type": "string",
                              "description": "관련인물",
                              "properties": {}
                            },
                            "BIBO_sici": {
                              "type": "string",
                              "description": "SICI",
                              "properties": {}
                            },
                            "BIBO_lccn": {
                              "type": "string",
                              "description": "LCCN",
                              "properties": {}
                            },
                            "NLON_otherNumber": {
                              "type": "string",
                              "description": "기타분류기호",
                              "properties": {}
                            },
                            "NLON_classificationNumberOfLC": {
                              "type": "string",
                              "description": "미국의회도서관분류기호",
                              "properties": {}
                            },
                            "NLON_genre": {
                              "type": "string",
                              "description": "장르",
                              "properties": {}
                            },
                            "NLON_uniformTitleOfSeries": {
                              "type": "string",
                              "description": "통일표제(총서)",
                              "properties": {}
                            },
                            "DCTERMS_hasVersion": {
                              "type": "string",
                              "description": "이판저록 ",
                              "properties": {}
                            },
                            "NLON_currentPublicationFrequency": {
                              "type": "string",
                              "description": "현재간행빈도",
                              "properties": {}
                            },
                            "NLON_newsPosition": {
                              "type": "string",
                              "description": "기사위치",
                              "properties": {}
                            },
                            "DCTERMS_created": {
                              "type": "string",
                              "description": "생성일",
                              "properties": {}
                            },
                            "NLON_scale": {
                              "type": "string",
                              "description": "축척표시",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "전자저널 정보 서비스",
        "description": "온라인 전자저널 정보 조회를 할 수 있습니다.",
        "operationId": "getElectronicJournalList_v2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "결과타입",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "label",
          "description": "표제명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "controlNumber",
          "description": "제어번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "isbn",
          "description": "국제표준도서번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "publisher",
          "description": "발행처",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "titleOfSeries",
          "description": "총서표제",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getbookList_v2": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "BIBLIO_ID": {
                              "type": "string",
                              "description": "국립중앙도서관제어번호_서지",
                              "properties": {}
                            },
                            "URI": {
                              "type": "string",
                              "description": "URI",
                              "properties": {}
                            },
                            "DCTERMS_title": {
                              "type": "string",
                              "description": "제목",
                              "properties": {}
                            },
                            "RDFS_label": {
                              "type": "string",
                              "description": "라벨",
                              "properties": {}
                            },
                            "DC_creator": {
                              "type": "string",
                              "description": "창작자이름",
                              "properties": {}
                            },
                            "OWL_sameAs": {
                              "type": "string",
                              "description": "동일개체",
                              "properties": {}
                            },
                            "DCTERMS_relation": {
                              "type": "string",
                              "description": "비특정적관계저록(제어번호연결)",
                              "properties": {}
                            },
                            "RDFS_seeAlso": {
                              "type": "string",
                              "description": "참고링크",
                              "properties": {}
                            },
                            "DCTERMS_hasPart": {
                              "type": "string",
                              "description": "구성자료",
                              "properties": {}
                            },
                            "DCTERMS_tableOfContents": {
                              "type": "string",
                              "description": "목차",
                              "properties": {}
                            },
                            "NLON_localHolding": {
                              "type": "string",
                              "description": "소장사항",
                              "properties": {}
                            },
                            "DCTERMS_hasVersion": {
                              "type": "string",
                              "description": "이판저록 ",
                              "properties": {}
                            },
                            "DCTERMS_creator": {
                              "type": "string",
                              "description": "창작자",
                              "properties": {}
                            },
                            "BIBO_isbn": {
                              "type": "string",
                              "description": "ISBN",
                              "properties": {}
                            },
                            "DCTERMS_abstract": {
                              "type": "string",
                              "description": "초록",
                              "properties": {}
                            },
                            "DCTERMS_hasFormat": {
                              "type": "string",
                              "description": "기타형태저록 ",
                              "properties": {}
                            },
                            "NLON_genre": {
                              "type": "string",
                              "description": "장르",
                              "properties": {}
                            },
                            "BIBO_translationOf": {
                              "type": "string",
                              "description": "번역저록의원본",
                              "properties": {}
                            },
                            "DCTERMS_alternative": {
                              "type": "string",
                              "description": "대체제목",
                              "properties": {}
                            },
                            "DCTERMS_description": {
                              "type": "string",
                              "description": "설명",
                              "properties": {}
                            },
                            "NLON_originalVersionNote": {
                              "type": "string",
                              "description": "원본주기",
                              "properties": {}
                            },
                            "NLON_hasSupplement": {
                              "type": "string",
                              "description": "보유판및특별호저록",
                              "properties": {}
                            },
                            "DCTERMS_subject": {
                              "type": "string",
                              "description": "주제",
                              "properties": {}
                            },
                            "NLON_keyword": {
                              "type": "string",
                              "description": "키워드",
                              "properties": {}
                            },
                            "NLON_cip": {
                              "type": "string",
                              "description": "출판시도서목록(CIP)제어번호",
                              "properties": {}
                            },
                            "NLON_uniformTitleOfSeries": {
                              "type": "string",
                              "description": "통일표제(총서)",
                              "properties": {}
                            },
                            "NLON_supplementTo": {
                              "type": "string",
                              "description": "모체레코드저록",
                              "properties": {}
                            },
                            "NLON_supplementNote": {
                              "type": "string",
                              "description": "부록주기",
                              "properties": {}
                            },
                            "NLON_remainderOfTitle": {
                              "type": "string",
                              "description": "표제관련정보",
                              "properties": {}
                            },
                            "NLON_preceding": {
                              "type": "string",
                              "description": "선행저록",
                              "properties": {}
                            },
                            "DCTERMS_isPartOf": {
                              "type": "string",
                              "description": "상위자료",
                              "properties": {}
                            },
                            "NLON_titleOfSupplementParent": {
                              "type": "string",
                              "description": "모체레코드저록표제",
                              "properties": {}
                            },
                            "NLON_titleOfSeries": {
                              "type": "string",
                              "description": "총서표제",
                              "properties": {}
                            },
                            "NLON_series": {
                              "type": "string",
                              "description": "총서관계",
                              "properties": {}
                            },
                            "DCTERMS_requires": {
                              "type": "string",
                              "description": "시스템사항에관한주기",
                              "properties": {}
                            },
                            "NLON_publicationPlace": {
                              "type": "string",
                              "description": "발행지",
                              "properties": {}
                            },
                            "NLON_succeeding": {
                              "type": "string",
                              "description": "후속저록",
                              "properties": {}
                            },
                            "NLON_titleOfTranslation": {
                              "type": "string",
                              "description": "번역저록표제",
                              "properties": {}
                            },
                            "NLON_titleOfSupplement": {
                              "type": "string",
                              "description": "보유판및특별호저록표제",
                              "properties": {}
                            },
                            "NLON_gprn": {
                              "type": "string",
                              "description": "한국정부간행물발간등록번호",
                              "properties": {}
                            },
                            "DCTERMS_identifier": {
                              "type": "string",
                              "description": "식별자",
                              "properties": {}
                            },
                            "NLON_linkingEntryComplexityNote": {
                              "type": "string",
                              "description": "연관저록설명주기",
                              "properties": {}
                            },
                            "DC_relation": {
                              "type": "string",
                              "description": "비특정적관계저록",
                              "properties": {}
                            },
                            "NLON_meetingInformation": {
                              "type": "string",
                              "description": "회의정보",
                              "properties": {}
                            },
                            "NLON_citationReferenceNote": {
                              "type": "string",
                              "description": "인용참고주기",
                              "properties": {}
                            },
                            "NLON_audienceNote": {
                              "type": "string",
                              "description": "이용대상자주기",
                              "properties": {}
                            },
                            "DC_publisher": {
                              "type": "string",
                              "description": "발행처",
                              "properties": {}
                            },
                            "BIBO_volume": {
                              "type": "string",
                              "description": "권차/편차",
                              "properties": {}
                            },
                            "NLON_awardsNote": {
                              "type": "string",
                              "description": "수상주기",
                              "properties": {}
                            },
                            "NLON_volumeOfNLK": {
                              "type": "string",
                              "description": "국립중앙도서관권연차기호",
                              "properties": {}
                            },
                            "NLON_physicalFormAvailableNote": {
                              "type": "string",
                              "description": "이용가능한다른형태자료",
                              "properties": {}
                            },
                            "NLON_exhibition": {
                              "type": "string",
                              "description": "전시주기",
                              "properties": {}
                            },
                            "NLON_titleOfPreceding": {
                              "type": "string",
                              "description": "선행저록표제",
                              "properties": {}
                            },
                            "NLON_translatedAs": {
                              "type": "string",
                              "description": "번역저록",
                              "properties": {}
                            },
                            "DCTERMS_language": {
                              "type": "string",
                              "description": "언어",
                              "properties": {}
                            },
                            "NLON_titleOfOtherEdition": {
                              "type": "string",
                              "description": "이판저록표제",
                              "properties": {}
                            },
                            "NLON_volumeOfSeries": {
                              "type": "string",
                              "description": "총서번호",
                              "properties": {}
                            },
                            "NLON_bibliography": {
                              "type": "string",
                              "description": "서지등주기",
                              "properties": {}
                            },
                            "NLON_uniformTitle": {
                              "type": "string",
                              "description": "통일표제",
                              "properties": {}
                            },
                            "BIBFRAME_extent": {
                              "type": "string",
                              "description": "형태사항",
                              "properties": {}
                            },
                            "NLON_languageNote": {
                              "type": "string",
                              "description": "언어주기",
                              "properties": {}
                            },
                            "NLON_medium": {
                              "type": "string",
                              "description": "자료형태",
                              "properties": {}
                            },
                            "NLON_holdingInstitution": {
                              "type": "string",
                              "description": "소장기관",
                              "properties": {}
                            },
                            "NLON_titleOfSucceeding": {
                              "type": "string",
                              "description": "후속저록표제",
                              "properties": {}
                            },
                            "NLON_numberingPeculiaritiesNote": {
                              "type": "string",
                              "description": "특수한권차표시주기",
                              "properties": {}
                            },
                            "BIBO_edition": {
                              "type": "string",
                              "description": "판사항",
                              "properties": {}
                            },
                            "NLON_reproductionNote": {
                              "type": "string",
                              "description": "복제주기",
                              "properties": {}
                            },
                            "NLON_titleOfOriginalLanguage": {
                              "type": "string",
                              "description": "원저저록표제",
                              "properties": {}
                            },
                            "NLON_titleOfAdditionalPhysicalForm": {
                              "type": "string",
                              "description": "기타형태저록표제",
                              "properties": {}
                            },
                            "NLON_issuingBodyNote": {
                              "type": "string",
                              "description": "발행처주기",
                              "properties": {}
                            },
                            "NLON_holdingItemNote": {
                              "type": "string",
                              "description": "소장본주기",
                              "properties": {}
                            },
                            "NLON_dateOfPublicationSequentialDesignation": {
                              "type": "string",
                              "description": "권연차또는발행년표시",
                              "properties": {}
                            },
                            "NLON_scale": {
                              "type": "string",
                              "description": "축척표시",
                              "properties": {}
                            },
                            "NLON_restriction": {
                              "type": "string",
                              "description": "이용제한주기",
                              "properties": {}
                            },
                            "NLON_relatedSpecies": {
                              "type": "string",
                              "description": "관련생물종",
                              "properties": {}
                            },
                            "NLON_projection": {
                              "type": "string",
                              "description": "도법표시",
                              "properties": {}
                            },
                            "NLON_headingOfOriginalLanguage": {
                              "type": "string",
                              "description": "원저저록기본표목",
                              "properties": {}
                            },
                            "NLON_gpo": {
                              "type": "string",
                              "description": "미국정부간행물번호",
                              "properties": {}
                            },
                            "NLON_keyTitle": {
                              "type": "string",
                              "description": "등록표제",
                              "properties": {}
                            },
                            "NLON_locationNote": {
                              "type": "string",
                              "description": "소재주기",
                              "properties": {}
                            },
                            "NLON_relatedHeritage": {
                              "type": "string",
                              "description": "관련유산",
                              "properties": {}
                            },
                            "NLON_titleOfSubSeries": {
                              "type": "string",
                              "description": "하위총서표제",
                              "properties": {}
                            },
                            "NLON_manufacturer": {
                              "type": "string",
                              "description": "제작처",
                              "properties": {}
                            },
                            "NLON_distributor": {
                              "type": "string",
                              "description": "배포처",
                              "properties": {}
                            },
                            "DCTERMS_issued": {
                              "type": "string",
                              "description": "발행일",
                              "properties": {}
                            },
                            "BIBO_issn": {
                              "type": "string",
                              "description": "ISSN",
                              "properties": {}
                            },
                            "NLON_issuedYear": {
                              "type": "string",
                              "description": "발행연도",
                              "properties": {}
                            },
                            "BIBO_identifier": {
                              "type": "string",
                              "description": "협력기관제어번호",
                              "properties": {}
                            },
                            "BIBO_uri": {
                              "type": "string",
                              "description": "외부기관URI",
                              "properties": {}
                            },
                            "NLON_itemNumberOfNLK": {
                              "type": "string",
                              "description": "국립중앙도서관청구기호",
                              "properties": {}
                            },
                            "NLON_kdc": {
                              "type": "string",
                              "description": "한국십진분류기호",
                              "properties": {}
                            },
                            "NLON_department": {
                              "type": "string",
                              "description": "학과/전공",
                              "properties": {}
                            },
                            "NLON_ddcn": {
                              "type": "string",
                              "description": "듀이십진분류기호(기타)",
                              "properties": {}
                            },
                            "NLON_datePublished": {
                              "type": "string",
                              "description": "데이터발행일시",
                              "properties": {}
                            },
                            "NLON_kdcn": {
                              "type": "string",
                              "description": "한국십진분류(기타)",
                              "properties": {}
                            },
                            "NLON_itemNumberOfLC": {
                              "type": "string",
                              "description": "미국의회도서관도서기호",
                              "properties": {}
                            },
                            "NLON_useAndReproductionNote": {
                              "type": "string",
                              "description": "이용과복제제한에관한주기",
                              "properties": {}
                            },
                            "NLON_biographicalNote": {
                              "type": "string",
                              "description": "전기적또는역사적데이터",
                              "properties": {}
                            },
                            "NLON_ddc": {
                              "type": "string",
                              "description": "듀이십진분류기호",
                              "properties": {}
                            },
                            "NLON_classificationNumberOfLC": {
                              "type": "string",
                              "description": "미국의회도서관분류기호",
                              "properties": {}
                            },
                            "NLON_relatedParts": {
                              "type": "string",
                              "description": "관련부분",
                              "properties": {}
                            },
                            "NLON_titleOfIssuedWith": {
                              "type": "string",
                              "description": "동시발간저록표제",
                              "properties": {}
                            },
                            "NLON_titleOfHostItem": {
                              "type": "string",
                              "description": "기본자료표제",
                              "properties": {}
                            },
                            "NLON_issnOfSeries": {
                              "type": "string",
                              "description": "총서ISSN",
                              "properties": {}
                            },
                            "DCTERMS_format": {
                              "type": "string",
                              "description": "컴퓨터파일과데이터유형",
                              "properties": {}
                            },
                            "NLON_manufacturingPlace": {
                              "type": "string",
                              "description": "제작지",
                              "properties": {}
                            },
                            "NLON_strn": {
                              "type": "string",
                              "description": "표준기술보고서번호",
                              "properties": {}
                            },
                            "NLON_formerTitle": {
                              "type": "string",
                              "description": "변경전본표제",
                              "properties": {}
                            },
                            "NLON_distributionPlace": {
                              "type": "string",
                              "description": "배포지",
                              "properties": {}
                            },
                            "NLON_classificationNumberOfNLK": {
                              "type": "string",
                              "description": "국립중앙도서관분류기호",
                              "properties": {}
                            },
                            "NLON_dateSequentialDesignation": {
                              "type": "string",
                              "description": "변경전권연차표시",
                              "properties": {}
                            },
                            "NLON_abbreviatedTitle": {
                              "type": "string",
                              "description": "축약표제",
                              "properties": {}
                            },
                            "BIBO_shortTitle": {
                              "type": "string",
                              "description": "단축표제",
                              "properties": {}
                            },
                            "NLON_relatedCountry": {
                              "type": "string",
                              "description": "관련국가",
                              "properties": {}
                            },
                            "NLON_otherNumber": {
                              "type": "string",
                              "description": "기타분류기호",
                              "properties": {}
                            },
                            "BIBO_coden": {
                              "type": "string",
                              "description": "CODEN",
                              "properties": {}
                            },
                            "NLON_producer": {
                              "type": "string",
                              "description": "생산처",
                              "properties": {}
                            },
                            "NLON_titleOfConstituentUnit": {
                              "type": "string",
                              "description": "구성단위저록표제",
                              "properties": {}
                            },
                            "NLON_relationshipInformation": {
                              "type": "string",
                              "description": "관계정보",
                              "properties": {}
                            },
                            "NLON_dateOfManufacture": {
                              "type": "string",
                              "description": "제작년혹은인쇄년",
                              "properties": {}
                            },
                            "NLON_issuedWith": {
                              "type": "string",
                              "description": "동시발간저록",
                              "properties": {}
                            },
                            "NLON_mainSeries": {
                              "type": "string",
                              "description": "상위총서",
                              "properties": {}
                            },
                            "NLON_subSeries": {
                              "type": "string",
                              "description": "하위총서",
                              "properties": {}
                            },
                            "BIBO_degree": {
                              "type": "string",
                              "description": "학위논문의 종류",
                              "properties": {}
                            },
                            "BIBO_lccn": {
                              "type": "string",
                              "description": "LCCN",
                              "properties": {}
                            },
                            "NLON_dateOfFormerPublicationFrequency": {
                              "type": "string",
                              "description": "이전간행빈도시행연월",
                              "properties": {}
                            },
                            "DC_type": {
                              "type": "string",
                              "description": "유형",
                              "properties": {}
                            },
                            "NLON_authenticationCode": {
                              "type": "string",
                              "description": "검증기관부호",
                              "properties": {}
                            },
                            "NLON_editionOfDDC": {
                              "type": "string",
                              "description": "듀이십진분류기호판표시",
                              "properties": {}
                            },
                            "NLON_formerPublicationFrequency": {
                              "type": "string",
                              "description": "이전간행빈도",
                              "properties": {}
                            },
                            "NLON_headingOfTranslation": {
                              "type": "string",
                              "description": "번역저록기본표목",
                              "properties": {}
                            },
                            "NLON_typeOfContinuousData": {
                              "type": "string",
                              "description": "연속자료유형",
                              "properties": {}
                            },
                            "NLON_typeOfData": {
                              "type": "string",
                              "description": "자료구분",
                              "properties": {}
                            },
                            "NLON_typeOfPublicationFrequency": {
                              "type": "string",
                              "description": "간행빈도",
                              "properties": {}
                            },
                            "NLON_typeOfPublicationStatus": {
                              "type": "string",
                              "description": "간행상태",
                              "properties": {}
                            },
                            "NLON_formerTitleComplexityNote": {
                              "type": "string",
                              "description": "변경전표제설명주기",
                              "properties": {}
                            },
                            "NLON_sourceOfOtherNumber": {
                              "type": "string",
                              "description": "기타분류기호의 정보원",
                              "properties": {}
                            },
                            "DCTERMS_dateCopyrighted": {
                              "type": "string",
                              "description": "저작권표시연도",
                              "properties": {}
                            },
                            "NLON_currentPublicationFrequency": {
                              "type": "string",
                              "description": "현재간행빈도",
                              "properties": {}
                            },
                            "NLON_nlkcn": {
                              "type": "string",
                              "description": "NLKCN",
                              "properties": {}
                            },
                            "NLON_itemNumberOfOtherNumber": {
                              "type": "string",
                              "description": "기타도서기호",
                              "properties": {}
                            },
                            "NLON_dateOfDistribute": {
                              "type": "string",
                              "description": "배포년",
                              "properties": {}
                            },
                            "NLON_dateOfCurrentPublicationFrequency": {
                              "type": "string",
                              "description": "현재간행빈도시작연월",
                              "properties": {}
                            },
                            "NLON_editionOfKDC": {
                              "type": "string",
                              "description": "한국십진분류판표시",
                              "properties": {}
                            },
                            "NLON_productionPlace": {
                              "type": "string",
                              "description": "생산지",
                              "properties": {}
                            },
                            "NLON_degreeYear": {
                              "type": "string",
                              "description": "학위연도",
                              "properties": {}
                            },
                            "DCTERMS_created": {
                              "type": "string",
                              "description": "생성일",
                              "properties": {}
                            },
                            "DC_format": {
                              "type": "string",
                              "description": "자료형식",
                              "properties": {}
                            },
                            "RDF_type": {
                              "type": "string",
                              "description": "데이터유형 ",
                              "properties": {}
                            },
                            "BIBFRAME_place": {
                              "type": "string",
                              "description": "발행국부호",
                              "properties": {}
                            },
                            "BIBFRAME_language": {
                              "type": "string",
                              "description": "언어구분부호",
                              "properties": {}
                            },
                            "NLON_governmentPublisher": {
                              "type": "string",
                              "description": "정부발행부처",
                              "properties": {}
                            },
                            "DCTERMS_accessRights": {
                              "type": "string",
                              "description": "접근제한유형",
                              "properties": {}
                            },
                            "BIBO_abstract": {
                              "type": "string",
                              "description": "초록정보",
                              "properties": {}
                            },
                            "NLON_containedIn": {
                              "type": "string",
                              "description": "포함자료",
                              "properties": {}
                            },
                            "NLON_hasIssue": {
                              "type": "string",
                              "description": "개별호",
                              "properties": {}
                            },
                            "NLON_mainEntryHeading": {
                              "type": "string",
                              "description": "상위총서저록기본표목",
                              "properties": {}
                            },
                            "NLON_sourceOfInformation": {
                              "type": "string",
                              "description": "권연차연월차사항확인자료명",
                              "properties": {}
                            },
                            "NLON_titleOfMainSeries": {
                              "type": "string",
                              "description": "상위총서저록표제",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "총 개수\\t",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지 번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "목록 건수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "도서 정보 서비스",
        "description": "도서 정보 서비스 조회를 할 수 있습니다.",
        "operationId": "getbookList_v2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "결과타입",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "label",
          "description": "표제명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "controlNumber",
          "description": "제어번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "isbn",
          "description": "국제표준도서번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "publisher",
          "description": "발행처",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "titleOfSeries",
          "description": "총서표제",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getNonbookList_v2": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "BIBLIO_ID": {
                              "type": "string",
                              "description": "국립중앙도서관제어번호_서지",
                              "properties": {}
                            },
                            "URI": {
                              "type": "string",
                              "description": "URI",
                              "properties": {}
                            },
                            "DCTERMS_title": {
                              "type": "string",
                              "description": "제목",
                              "properties": {}
                            },
                            "RDFS_label": {
                              "type": "string",
                              "description": "라벨",
                              "properties": {}
                            },
                            "DC_creator": {
                              "type": "string",
                              "description": "창작자이름",
                              "properties": {}
                            },
                            "OWL_sameAs": {
                              "type": "string",
                              "description": "동일개체",
                              "properties": {}
                            },
                            "DCTERMS_relation": {
                              "type": "string",
                              "description": "비특정적관계저록(제어번호연결)",
                              "properties": {}
                            },
                            "RDFS_seeAlso": {
                              "type": "string",
                              "description": "참고링크",
                              "properties": {}
                            },
                            "DCTERMS_hasPart": {
                              "type": "string",
                              "description": "구성자료",
                              "properties": {}
                            },
                            "DCTERMS_tableOfContents": {
                              "type": "string",
                              "description": "목차",
                              "properties": {}
                            },
                            "NLON_localHolding": {
                              "type": "string",
                              "description": "소장사항",
                              "properties": {}
                            },
                            "DCTERMS_hasVersion": {
                              "type": "string",
                              "description": "이판저록 ",
                              "properties": {}
                            },
                            "DCTERMS_creator": {
                              "type": "string",
                              "description": "창작자",
                              "properties": {}
                            },
                            "BIBO_isbn": {
                              "type": "string",
                              "description": "ISBN",
                              "properties": {}
                            },
                            "DCTERMS_abstract": {
                              "type": "string",
                              "description": "초록",
                              "properties": {}
                            },
                            "DCTERMS_hasFormat": {
                              "type": "string",
                              "description": "기타형태저록 ",
                              "properties": {}
                            },
                            "NLON_genre": {
                              "type": "string",
                              "description": "장르",
                              "properties": {}
                            },
                            "BIBO_translationOf": {
                              "type": "string",
                              "description": "번역저록의원본",
                              "properties": {}
                            },
                            "DCTERMS_alternative": {
                              "type": "string",
                              "description": "대체제목",
                              "properties": {}
                            },
                            "DCTERMS_description": {
                              "type": "string",
                              "description": "설명",
                              "properties": {}
                            },
                            "NLON_originalVersionNote": {
                              "type": "string",
                              "description": "원본주기",
                              "properties": {}
                            },
                            "NLON_hasSupplement": {
                              "type": "string",
                              "description": "보유판및특별호저록",
                              "properties": {}
                            },
                            "DCTERMS_subject": {
                              "type": "string",
                              "description": "주제",
                              "properties": {}
                            },
                            "NLON_keyword": {
                              "type": "string",
                              "description": "키워드",
                              "properties": {}
                            },
                            "NLON_cip": {
                              "type": "string",
                              "description": "출판시도서목록(CIP)제어번호",
                              "properties": {}
                            },
                            "NLON_uniformTitleOfSeries": {
                              "type": "string",
                              "description": "통일표제(총서)",
                              "properties": {}
                            },
                            "NLON_supplementTo": {
                              "type": "string",
                              "description": "모체레코드저록",
                              "properties": {}
                            },
                            "NLON_supplementNote": {
                              "type": "string",
                              "description": "부록주기",
                              "properties": {}
                            },
                            "NLON_remainderOfTitle": {
                              "type": "string",
                              "description": "표제관련정보",
                              "properties": {}
                            },
                            "NLON_preceding": {
                              "type": "string",
                              "description": "선행저록",
                              "properties": {}
                            },
                            "DCTERMS_isPartOf": {
                              "type": "string",
                              "description": "상위자료",
                              "properties": {}
                            },
                            "NLON_titleOfSupplementParent": {
                              "type": "string",
                              "description": "모체레코드저록표제",
                              "properties": {}
                            },
                            "NLON_titleOfSeries": {
                              "type": "string",
                              "description": "총서표제",
                              "properties": {}
                            },
                            "NLON_series": {
                              "type": "string",
                              "description": "총서관계",
                              "properties": {}
                            },
                            "DCTERMS_requires": {
                              "type": "string",
                              "description": "시스템사항에관한주기",
                              "properties": {}
                            },
                            "NLON_publicationPlace": {
                              "type": "string",
                              "description": "발행지",
                              "properties": {}
                            },
                            "NLON_succeeding": {
                              "type": "string",
                              "description": "후속저록",
                              "properties": {}
                            },
                            "NLON_titleOfTranslation": {
                              "type": "string",
                              "description": "번역저록표제",
                              "properties": {}
                            },
                            "NLON_titleOfSupplement": {
                              "type": "string",
                              "description": "보유판및특별호저록표제",
                              "properties": {}
                            },
                            "NLON_gprn": {
                              "type": "string",
                              "description": "한국정부간행물발간등록번호",
                              "properties": {}
                            },
                            "DCTERMS_identifier": {
                              "type": "string",
                              "description": "식별자",
                              "properties": {}
                            },
                            "NLON_linkingEntryComplexityNote": {
                              "type": "string",
                              "description": "연관저록설명주기",
                              "properties": {}
                            },
                            "DC_relation": {
                              "type": "string",
                              "description": "비특정적관계저록",
                              "properties": {}
                            },
                            "NLON_meetingInformation": {
                              "type": "string",
                              "description": "회의정보",
                              "properties": {}
                            },
                            "NLON_citationReferenceNote": {
                              "type": "string",
                              "description": "인용참고주기",
                              "properties": {}
                            },
                            "NLON_audienceNote": {
                              "type": "string",
                              "description": "이용대상자주기",
                              "properties": {}
                            },
                            "DC_publisher": {
                              "type": "string",
                              "description": "발행처",
                              "properties": {}
                            },
                            "BIBO_volume": {
                              "type": "string",
                              "description": "권차/편차",
                              "properties": {}
                            },
                            "NLON_awardsNote": {
                              "type": "string",
                              "description": "수상주기",
                              "properties": {}
                            },
                            "NLON_volumeOfNLK": {
                              "type": "string",
                              "description": "국립중앙도서관권연차기호",
                              "properties": {}
                            },
                            "NLON_physicalFormAvailableNote": {
                              "type": "string",
                              "description": "이용가능한다른형태자료",
                              "properties": {}
                            },
                            "NLON_exhibition": {
                              "type": "string",
                              "description": "전시주기",
                              "properties": {}
                            },
                            "NLON_titleOfPreceding": {
                              "type": "string",
                              "description": "선행저록표제",
                              "properties": {}
                            },
                            "NLON_translatedAs": {
                              "type": "string",
                              "description": "번역저록",
                              "properties": {}
                            },
                            "DCTERMS_language": {
                              "type": "string",
                              "description": "언어",
                              "properties": {}
                            },
                            "NLON_titleOfOtherEdition": {
                              "type": "string",
                              "description": "이판저록표제",
                              "properties": {}
                            },
                            "NLON_volumeOfSeries": {
                              "type": "string",
                              "description": "총서번호",
                              "properties": {}
                            },
                            "NLON_bibliography": {
                              "type": "string",
                              "description": "서지등주기",
                              "properties": {}
                            },
                            "NLON_uniformTitle": {
                              "type": "string",
                              "description": "통일표제",
                              "properties": {}
                            },
                            "BIBFRAME_extent": {
                              "type": "string",
                              "description": "형태사항",
                              "properties": {}
                            },
                            "NLON_languageNote": {
                              "type": "string",
                              "description": "언어주기",
                              "properties": {}
                            },
                            "NLON_medium": {
                              "type": "string",
                              "description": "자료형태",
                              "properties": {}
                            },
                            "NLON_holdingInstitution": {
                              "type": "string",
                              "description": "소장기관",
                              "properties": {}
                            },
                            "NLON_titleOfSucceeding": {
                              "type": "string",
                              "description": "후속저록표제",
                              "properties": {}
                            },
                            "NLON_numberingPeculiaritiesNote": {
                              "type": "string",
                              "description": "특수한권차표시주기",
                              "properties": {}
                            },
                            "BIBO_edition": {
                              "type": "string",
                              "description": "판사항",
                              "properties": {}
                            },
                            "NLON_reproductionNote": {
                              "type": "string",
                              "description": "복제주기",
                              "properties": {}
                            },
                            "NLON_titleOfOriginalLanguage": {
                              "type": "string",
                              "description": "원저저록표제",
                              "properties": {}
                            },
                            "NLON_titleOfAdditionalPhysicalForm": {
                              "type": "string",
                              "description": "기타형태저록표제",
                              "properties": {}
                            },
                            "NLON_issuingBodyNote": {
                              "type": "string",
                              "description": "발행처주기",
                              "properties": {}
                            },
                            "NLON_holdingItemNote": {
                              "type": "string",
                              "description": "소장본주기",
                              "properties": {}
                            },
                            "NLON_dateOfPublicationSequentialDesignation": {
                              "type": "string",
                              "description": "권연차또는발행년표시",
                              "properties": {}
                            },
                            "NLON_scale": {
                              "type": "string",
                              "description": "축척표시",
                              "properties": {}
                            },
                            "NLON_restriction": {
                              "type": "string",
                              "description": "이용제한주기",
                              "properties": {}
                            },
                            "NLON_relatedSpecies": {
                              "type": "string",
                              "description": "관련생물종",
                              "properties": {}
                            },
                            "NLON_projection": {
                              "type": "string",
                              "description": "도법표시",
                              "properties": {}
                            },
                            "NLON_dateOfManufacture": {
                              "type": "string",
                              "description": "제작년또는인쇄년",
                              "properties": {}
                            },
                            "NLON_headingOfOriginalLanguage": {
                              "type": "string",
                              "description": "원저저록기본표목",
                              "properties": {}
                            },
                            "NLON_gpo": {
                              "type": "string",
                              "description": "미국정부간행물번호",
                              "properties": {}
                            },
                            "NLON_keyTitle": {
                              "type": "string",
                              "description": "등록표제",
                              "properties": {}
                            },
                            "NLON_locationNote": {
                              "type": "string",
                              "description": "소재주기",
                              "properties": {}
                            },
                            "NLON_relatedHeritage": {
                              "type": "string",
                              "description": "관련유산",
                              "properties": {}
                            },
                            "NLON_titleOfSubSeries": {
                              "type": "string",
                              "description": "하위총서표제",
                              "properties": {}
                            },
                            "NLON_manufacturer": {
                              "type": "string",
                              "description": "제작처",
                              "properties": {}
                            },
                            "NLON_distributor": {
                              "type": "string",
                              "description": "배포처",
                              "properties": {}
                            },
                            "DCTERMS_issued": {
                              "type": "string",
                              "description": "발행일",
                              "properties": {}
                            },
                            "BIBO_issn": {
                              "type": "string",
                              "description": "ISSN",
                              "properties": {}
                            },
                            "NLON_issuedYear": {
                              "type": "string",
                              "description": "발행연도",
                              "properties": {}
                            },
                            "BIBO_identifier": {
                              "type": "string",
                              "description": "협력기관제어번호",
                              "properties": {}
                            },
                            "BIBO_uri": {
                              "type": "string",
                              "description": "외부기관URI",
                              "properties": {}
                            },
                            "NLON_itemNumberOfNLK": {
                              "type": "string",
                              "description": "국립중앙도서관청구기호",
                              "properties": {}
                            },
                            "NLON_kdc": {
                              "type": "string",
                              "description": "한국십진분류기호",
                              "properties": {}
                            },
                            "NLON_department": {
                              "type": "string",
                              "description": "학과/전공",
                              "properties": {}
                            },
                            "NLON_ddcn": {
                              "type": "string",
                              "description": "듀이십진분류기호(기타)",
                              "properties": {}
                            },
                            "NLON_datePublished": {
                              "type": "string",
                              "description": "데이터발행일시",
                              "properties": {}
                            },
                            "NLON_kdcn": {
                              "type": "string",
                              "description": "한국십진분류(기타)",
                              "properties": {}
                            },
                            "NLON_itemNumberOfLC": {
                              "type": "string",
                              "description": "미국의회도서관도서기호",
                              "properties": {}
                            },
                            "NLON_useAndReproductionNote": {
                              "type": "string",
                              "description": "이용과복제제한에관한주기",
                              "properties": {}
                            },
                            "NLON_biographicalNote": {
                              "type": "string",
                              "description": "전기적또는역사적데이터",
                              "properties": {}
                            },
                            "NLON_ddc": {
                              "type": "string",
                              "description": "듀이십진분류기호",
                              "properties": {}
                            },
                            "NLON_classificationNumberOfLC": {
                              "type": "string",
                              "description": "미국의회도서관분류기호",
                              "properties": {}
                            },
                            "NLON_relatedParts": {
                              "type": "string",
                              "description": "관련부분",
                              "properties": {}
                            },
                            "NLON_titleOfIssuedWith": {
                              "type": "string",
                              "description": "동시발간저록표제",
                              "properties": {}
                            },
                            "NLON_titleOfHostItem": {
                              "type": "string",
                              "description": "기본자료표제",
                              "properties": {}
                            },
                            "NLON_issnOfSeries": {
                              "type": "string",
                              "description": "총서ISSN",
                              "properties": {}
                            },
                            "DCTERMS_format": {
                              "type": "string",
                              "description": "컴퓨터파일과데이터유형",
                              "properties": {}
                            },
                            "NLON_manufacturingPlace": {
                              "type": "string",
                              "description": "제작지",
                              "properties": {}
                            },
                            "NLON_strn": {
                              "type": "string",
                              "description": "표준기술보고서번호",
                              "properties": {}
                            },
                            "NLON_formerTitle": {
                              "type": "string",
                              "description": "변경전본표제",
                              "properties": {}
                            },
                            "NLON_distributionPlace": {
                              "type": "string",
                              "description": "배포지",
                              "properties": {}
                            },
                            "NLON_classificationNumberOfNLK": {
                              "type": "string",
                              "description": "국립중앙도서관분류기호",
                              "properties": {}
                            },
                            "NLON_dateSequentialDesignation": {
                              "type": "string",
                              "description": "변경전권연차표시",
                              "properties": {}
                            },
                            "NLON_abbreviatedTitle": {
                              "type": "string",
                              "description": "축약표제",
                              "properties": {}
                            },
                            "BIBO_shortTitle": {
                              "type": "string",
                              "description": "단축표제",
                              "properties": {}
                            },
                            "NLON_relatedCountry": {
                              "type": "string",
                              "description": "관련국가",
                              "properties": {}
                            },
                            "NLON_otherNumber": {
                              "type": "string",
                              "description": "기타분류기호",
                              "properties": {}
                            },
                            "BIBO_coden": {
                              "type": "string",
                              "description": "CODEN",
                              "properties": {}
                            },
                            "NLON_producer": {
                              "type": "string",
                              "description": "생산처",
                              "properties": {}
                            },
                            "NLON_titleOfConstituentUnit": {
[...]
